/*--------------------emoji-block----------------------*/
.emoji-block {
	display: flex;
	flex-direction: column;
	height: 100%;
	
	._tabs {
		display: flex;
		flex-direction: column;
	}
	.tabs__buttons {
		flex: 0 0 auto;
		margin-right: rem(40);
	}
	.tabs__container {
		// overflow-y: auto;
		flex: 1 1 auto;
		// height: 100%;
		height: calc(100% - rem(70));
		padding-top: rem(24);
		padding-bottom: rem(28);

		.simplebar-track{
			right: rem(5);
		}
	}
	.tab-content {
			padding-right: rem(30);
		@include min-screen($mess-mob){
			padding-right: rem(40);
			
		}
	}
}
.emoji-block__tabs {
	flex: 1 1 auto;
	height: 100%;	
	overflow: hidden;
		margin-right: rem(-30);

	@include min-screen($mess-mob){
		margin-right: rem(-40);
	}
}
.tabs__item {}
.tab {}
.active {}
.emoji-box {

}
.emoji-list {
	display: flex;
	flex-wrap: wrap;
	gap: rem(14);
	height: 100%;
	overflow-y: auto;
}
.emoji {
	flex-shrink: 0;
}
.hidden {}
.emoji-block__navs {
	margin-left: rem(-40);
	margin-right: rem(-40);
	flex: 0 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.emoji-block__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: rem($chatHeding);
	@include but-null();
	background-color: #fff;

	&.active{
		background-color: transparent;
	}
	.icon{
		font-size: rem(24);
	}
}

/*--------------------END emoji-block----------------------*/ 