@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-left {
  font-size: 1.6rem;
  width: 1em;
}

.icon-btn-go {
  font-size: 2.2rem;
  width: 0.5454545455em;
}

.icon-chevron-right {
  font-size: 1.2rem;
  width: 0.5em;
}

.icon-chevron-rught {
  font-size: 1.2rem;
  width: 0.5em;
}

.icon-close {
  font-size: 1.4rem;
  width: 1em;
}

.icon-eye {
  font-size: 1.6rem;
  width: 1.375em;
}

.icon-eye-off {
  font-size: 1.8rem;
  width: 1.2222222222em;
}

.icon-plus-circle {
  font-size: 2.2rem;
  width: 1em;
}

.icon-search {
  font-size: 2rem;
  width: 1em;
}

.icon-send {
  font-size: 2.4rem;
  width: 1em;
}

.icon-user {
  font-size: 1.8rem;
  width: 0.8888888889em;
}

.icon-watsapp {
  font-size: 2.1rem;
  width: 1em;
}

.icon-x-big {
  font-size: 2.2rem;
  width: 1em;
}

.Anxious Face With Sweat {
  background-image: url(../img/sprite.png);
  background-position: -58px -29px;
  width: 24px;
  height: 24px;
}

.Astonished Face {
  background-image: url(../img/sprite.png);
  background-position: 0px -58px;
  width: 24px;
  height: 24px;
}

.Baby Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -29px -58px;
  width: 24px;
  height: 24px;
}

.Baby Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -58px -58px;
  width: 24px;
  height: 24px;
}

.Baby Medium Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -87px 0px;
  width: 24px;
  height: 24px;
}

.Baby Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -87px -29px;
  width: 24px;
  height: 24px;
}

.Baby {
  background-image: url(../img/sprite.png);
  background-position: -87px -58px;
  width: 24px;
  height: 24px;
}

.Beaming Face With Smiling Eyes {
  background-image: url(../img/sprite.png);
  background-position: 0px -87px;
  width: 24px;
  height: 24px;
}

.Cat Face {
  background-image: url(../img/sprite.png);
  background-position: -29px -87px;
  width: 24px;
  height: 24px;
}

.Cat With Tears Of Joy {
  background-image: url(../img/sprite.png);
  background-position: -58px -87px;
  width: 24px;
  height: 24px;
}

.Cat With Wry Smile {
  background-image: url(../img/sprite.png);
  background-position: -87px -87px;
  width: 24px;
  height: 24px;
}

.Clown Face {
  background-image: url(../img/sprite.png);
  background-position: -116px 0px;
  width: 24px;
  height: 24px;
}

.Cold Face {
  background-image: url(../img/sprite.png);
  background-position: -116px -29px;
  width: 24px;
  height: 24px;
}

.Confounded Face {
  background-image: url(../img/sprite.png);
  background-position: -116px -58px;
  width: 24px;
  height: 24px;
}

.Confused Face {
  background-image: url(../img/sprite.png);
  background-position: -116px -87px;
  width: 24px;
  height: 24px;
}

.Cowboy Hat Face {
  background-image: url(../img/sprite.png);
  background-position: 0px -116px;
  width: 24px;
  height: 24px;
}

.Crying Cat {
  background-image: url(../img/sprite.png);
  background-position: -29px -116px;
  width: 24px;
  height: 24px;
}

.Crying Face {
  background-image: url(../img/sprite.png);
  background-position: -58px -116px;
  width: 24px;
  height: 24px;
}

.Disappointed Face {
  background-image: url(../img/sprite.png);
  background-position: -87px -116px;
  width: 24px;
  height: 24px;
}

.Disguised Face {
  background-image: url(../img/sprite.png);
  background-position: -116px -116px;
  width: 24px;
  height: 24px;
}

.Dizzy Face {
  background-image: url(../img/sprite.png);
  background-position: -145px 0px;
  width: 24px;
  height: 24px;
}

.Downcast Face With Sweat {
  background-image: url(../img/sprite.png);
  background-position: -145px -29px;
  width: 24px;
  height: 24px;
}

.Drooling Face {
  background-image: url(../img/sprite.png);
  background-position: -145px -58px;
  width: 24px;
  height: 24px;
}

.Exploding Head {
  background-image: url(../img/sprite.png);
  background-position: -145px -87px;
  width: 24px;
  height: 24px;
}

.Expressionless Face {
  background-image: url(../img/sprite.png);
  background-position: -145px -116px;
  width: 24px;
  height: 24px;
}

.Face Blowing A Kiss {
  background-image: url(../img/sprite.png);
  background-position: 0px -145px;
  width: 24px;
  height: 24px;
}

.Face Exhaling {
  background-image: url(../img/sprite.png);
  background-position: -29px -145px;
  width: 24px;
  height: 24px;
}

.Face In Clouds {
  background-image: url(../img/sprite.png);
  background-position: -58px -145px;
  width: 24px;
  height: 24px;
}

.Face Savoring Food {
  background-image: url(../img/sprite.png);
  background-position: -87px -145px;
  width: 24px;
  height: 24px;
}

.Face Screaming In Fear {
  background-image: url(../img/sprite.png);
  background-position: -116px -145px;
  width: 24px;
  height: 24px;
}

.Face Vomiting {
  background-image: url(../img/sprite.png);
  background-position: -145px -145px;
  width: 24px;
  height: 24px;
}

.Face With Hand Over Mouth {
  background-image: url(../img/sprite.png);
  background-position: -174px 0px;
  width: 24px;
  height: 24px;
}

.Face With Head Bandage {
  background-image: url(../img/sprite.png);
  background-position: -174px -29px;
  width: 24px;
  height: 24px;
}

.Face With Medical Mask {
  background-image: url(../img/sprite.png);
  background-position: -174px -58px;
  width: 24px;
  height: 24px;
}

.Face With Monocle {
  background-image: url(../img/sprite.png);
  background-position: -174px -87px;
  width: 24px;
  height: 24px;
}

.Face With Open Mouth {
  background-image: url(../img/sprite.png);
  background-position: -174px -116px;
  width: 24px;
  height: 24px;
}

.Face With Raised Eyebrow {
  background-image: url(../img/sprite.png);
  background-position: -174px -145px;
  width: 24px;
  height: 24px;
}

.Face With Rolling Eyes {
  background-image: url(../img/sprite.png);
  background-position: 0px -174px;
  width: 24px;
  height: 24px;
}

.Face With Spiral Eyes {
  background-image: url(../img/sprite.png);
  background-position: -29px -174px;
  width: 24px;
  height: 24px;
}

.Face With Steam From Nose {
  background-image: url(../img/sprite.png);
  background-position: -58px -174px;
  width: 24px;
  height: 24px;
}

.Face With Symbols On Mouth {
  background-image: url(../img/sprite.png);
  background-position: -87px -174px;
  width: 24px;
  height: 24px;
}

.Face With Tears Of Joy {
  background-image: url(../img/sprite.png);
  background-position: -116px -174px;
  width: 24px;
  height: 24px;
}

.Face With Thermometer {
  background-image: url(../img/sprite.png);
  background-position: -145px -174px;
  width: 24px;
  height: 24px;
}

.Face With Tongue {
  background-image: url(../img/sprite.png);
  background-position: -174px -174px;
  width: 24px;
  height: 24px;
}

.Face Without Mouth {
  background-image: url(../img/sprite.png);
  background-position: -203px 0px;
  width: 24px;
  height: 24px;
}

.Fearful Face {
  background-image: url(../img/sprite.png);
  background-position: -203px -29px;
  width: 24px;
  height: 24px;
}

.Flushed Face {
  background-image: url(../img/sprite.png);
  background-position: -203px -58px;
  width: 24px;
  height: 24px;
}

.Frowning Face With Open Mouth {
  background-image: url(../img/sprite.png);
  background-position: -203px -87px;
  width: 24px;
  height: 24px;
}

.Frowning Face {
  background-image: url(../img/sprite.png);
  background-position: -203px -116px;
  width: 24px;
  height: 24px;
}

.Ghost {
  background-image: url(../img/sprite.png);
  background-position: -203px -145px;
  width: 24px;
  height: 24px;
}

.Goblin {
  background-image: url(../img/sprite.png);
  background-position: -203px -174px;
  width: 24px;
  height: 24px;
}

.Grimacing Face {
  background-image: url(../img/sprite.png);
  background-position: 0px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Cat With Smiling Eyes {
  background-image: url(../img/sprite.png);
  background-position: -29px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Cat {
  background-image: url(../img/sprite.png);
  background-position: -58px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Face With Big Eyes {
  background-image: url(../img/sprite.png);
  background-position: -87px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Face With Smiling Eyes {
  background-image: url(../img/sprite.png);
  background-position: -116px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Face With Sweat {
  background-image: url(../img/sprite.png);
  background-position: -145px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Face {
  background-image: url(../img/sprite.png);
  background-position: -174px -203px;
  width: 24px;
  height: 24px;
}

.Grinning Squinting Face {
  background-image: url(../img/sprite.png);
  background-position: -203px -203px;
  width: 24px;
  height: 24px;
}

.Hand With Fingers Splayed Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -232px 0px;
  width: 24px;
  height: 24px;
}

.Hand With Fingers Splayed Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -232px -29px;
  width: 24px;
  height: 24px;
}

.Hand With Fingers Splayed Medium Skin Tone-1 {
  background-image: url(../img/sprite.png);
  background-position: -232px -58px;
  width: 24px;
  height: 24px;
}

.Hand With Fingers Splayed Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -232px -87px;
  width: 24px;
  height: 24px;
}

.Hand With Fingers Splayed {
  background-image: url(../img/sprite.png);
  background-position: -232px -116px;
  width: 24px;
  height: 24px;
}

.Hot Face {
  background-image: url(../img/sprite.png);
  background-position: -232px -145px;
  width: 24px;
  height: 24px;
}

.Hugging Face {
  background-image: url(../img/sprite.png);
  background-position: -232px -174px;
  width: 24px;
  height: 24px;
}

.Hushed Face {
  background-image: url(../img/sprite.png);
  background-position: -232px -203px;
  width: 24px;
  height: 24px;
}

.Kiss Mark {
  background-image: url(../img/sprite.png);
  background-position: 0px -232px;
  width: 24px;
  height: 24px;
}

.Kissing Cat {
  background-image: url(../img/sprite.png);
  background-position: -29px -232px;
  width: 24px;
  height: 24px;
}

.Kissing Face With Closed Eyes {
  background-image: url(../img/sprite.png);
  background-position: -58px -232px;
  width: 24px;
  height: 24px;
}

.Kissing Face With Smiling Eyes {
  background-image: url(../img/sprite.png);
  background-position: -87px -232px;
  width: 24px;
  height: 24px;
}

.Kissing Face {
  background-image: url(../img/sprite.png);
  background-position: -116px -232px;
  width: 24px;
  height: 24px;
}

.Loudly Crying Face {
  background-image: url(../img/sprite.png);
  background-position: -145px -232px;
  width: 24px;
  height: 24px;
}

.Lying Face {
  background-image: url(../img/sprite.png);
  background-position: -174px -232px;
  width: 24px;
  height: 24px;
}

.Money Mouth Face {
  background-image: url(../img/sprite.png);
  background-position: -203px -232px;
  width: 24px;
  height: 24px;
}

.Mouth {
  background-image: url(../img/sprite.png);
  background-position: -232px -232px;
  width: 24px;
  height: 24px;
}

.Nauseated Face {
  background-image: url(../img/sprite.png);
  background-position: -261px 0px;
  width: 24px;
  height: 24px;
}

.Nerd Face {
  background-image: url(../img/sprite.png);
  background-position: -261px -29px;
  width: 24px;
  height: 24px;
}

.Neutral Face {
  background-image: url(../img/sprite.png);
  background-position: -261px -58px;
  width: 24px;
  height: 24px;
}

.Ogre {
  background-image: url(../img/sprite.png);
  background-position: -261px -87px;
  width: 24px;
  height: 24px;
}

.Partying Face {
  background-image: url(../img/sprite.png);
  background-position: -261px -116px;
  width: 24px;
  height: 24px;
}

.Pensive Face {
  background-image: url(../img/sprite.png);
  background-position: -261px -145px;
  width: 24px;
  height: 24px;
}

.Persevering Face {
  background-image: url(../img/sprite.png);
  background-position: -261px -174px;
  width: 24px;
  height: 24px;
}

.Pile Of Poo {
  background-image: url(../img/sprite.png);
  background-position: -261px -203px;
  width: 24px;
  height: 24px;
}

.Pleading Face {
  background-image: url(../img/sprite.png);
  background-position: -261px -232px;
  width: 24px;
  height: 24px;
}

.Pouting Cat {
  background-image: url(../img/sprite.png);
  background-position: 0px -261px;
  width: 24px;
  height: 24px;
}

.Pouting Face {
  background-image: url(../img/sprite.png);
  background-position: -29px -261px;
  width: 24px;
  height: 24px;
}

.Raised Back Of Hand Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -58px -261px;
  width: 24px;
  height: 24px;
}

.Raised Back Of Hand Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -87px -261px;
  width: 24px;
  height: 24px;
}

.Raised Back Of Hand Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -116px -261px;
  width: 24px;
  height: 24px;
}

.Raised Back Of Hand Medium Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -145px -261px;
  width: 24px;
  height: 24px;
}

.Raised Back Of Hand Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -174px -261px;
  width: 24px;
  height: 24px;
}

.Raised Back Of Hand {
  background-image: url(../img/sprite.png);
  background-position: -203px -261px;
  width: 24px;
  height: 24px;
}

.Relieved Face {
  background-image: url(../img/sprite.png);
  background-position: -232px -261px;
  width: 24px;
  height: 24px;
}

.Rolling On The Floor Laughing {
  background-image: url(../img/sprite.png);
  background-position: -261px -261px;
  width: 24px;
  height: 24px;
}

.Sad But Relieved Face {
  background-image: url(../img/sprite.png);
  background-position: -290px 0px;
  width: 24px;
  height: 24px;
}

.Shushing Face {
  background-image: url(../img/sprite.png);
  background-position: -290px -29px;
  width: 24px;
  height: 24px;
}

.Skull And Crossbones {
  background-image: url(../img/sprite.png);
  background-position: -290px -58px;
  width: 24px;
  height: 24px;
}

.Skull {
  background-image: url(../img/sprite.png);
  background-position: -290px -87px;
  width: 24px;
  height: 24px;
}

.Sleeping Face {
  background-image: url(../img/sprite.png);
  background-position: -290px -116px;
  width: 24px;
  height: 24px;
}

.Sleepy Face {
  background-image: url(../img/sprite.png);
  background-position: -290px -145px;
  width: 24px;
  height: 24px;
}

.Slightly Frowning Face {
  background-image: url(../img/sprite.png);
  background-position: -290px -174px;
  width: 24px;
  height: 24px;
}

.Slightly Smiling Face {
  background-image: url(../img/sprite.png);
  background-position: -290px -203px;
  width: 24px;
  height: 24px;
}

.Smiling Cat With Heart Eyes {
  background-image: url(../img/sprite.png);
  background-position: -290px -232px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Halo {
  background-image: url(../img/sprite.png);
  background-position: -290px -261px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Heart Eyes {
  background-image: url(../img/sprite.png);
  background-position: 0px -290px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Hearts {
  background-image: url(../img/sprite.png);
  background-position: -29px -290px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Horns {
  background-image: url(../img/sprite.png);
  background-position: -58px -290px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Smiling Eyes {
  background-image: url(../img/sprite.png);
  background-position: -87px -290px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Sunglasses {
  background-image: url(../img/sprite.png);
  background-position: -116px -290px;
  width: 24px;
  height: 24px;
}

.Smiling Face With Tear {
  background-image: url(../img/sprite.png);
  background-position: -145px -290px;
  width: 24px;
  height: 24px;
}

.Smiling Face {
  background-image: url(../img/sprite.png);
  background-position: -174px -290px;
  width: 24px;
  height: 24px;
}

.Smirking Face {
  background-image: url(../img/sprite.png);
  background-position: -203px -290px;
  width: 24px;
  height: 24px;
}

.Sneezing Face {
  background-image: url(../img/sprite.png);
  background-position: -232px -290px;
  width: 24px;
  height: 24px;
}

.Squinting Face With Tongue {
  background-image: url(../img/sprite.png);
  background-position: -261px -290px;
  width: 24px;
  height: 24px;
}

.Star Struck {
  background-image: url(../img/sprite.png);
  background-position: -290px -290px;
  width: 24px;
  height: 24px;
}

.Thinking Face {
  background-image: url(../img/sprite.png);
  background-position: -319px 0px;
  width: 24px;
  height: 24px;
}

.Tired Face {
  background-image: url(../img/sprite.png);
  background-position: -319px -29px;
  width: 24px;
  height: 24px;
}

.Tooth {
  background-image: url(../img/sprite.png);
  background-position: -319px -58px;
  width: 24px;
  height: 24px;
}

.Unamused Face {
  background-image: url(../img/sprite.png);
  background-position: -319px -87px;
  width: 24px;
  height: 24px;
}

.Upside Down Face {
  background-image: url(../img/sprite.png);
  background-position: -319px -116px;
  width: 24px;
  height: 24px;
}

.Waving Hand Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -319px -145px;
  width: 24px;
  height: 24px;
}

.Waving Hand Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -319px -174px;
  width: 24px;
  height: 24px;
}

.Waving Hand Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -319px -203px;
  width: 24px;
  height: 24px;
}

.Waving Hand Medium Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -319px -232px;
  width: 24px;
  height: 24px;
}

.Waving Hand Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -319px -261px;
  width: 24px;
  height: 24px;
}

.Waving Hand {
  background-image: url(../img/sprite.png);
  background-position: -319px -290px;
  width: 24px;
  height: 24px;
}

.Weary Cat {
  background-image: url(../img/sprite.png);
  background-position: 0px -319px;
  width: 24px;
  height: 24px;
}

.Weary Face {
  background-image: url(../img/sprite.png);
  background-position: -29px -319px;
  width: 24px;
  height: 24px;
}

.Winking Face With Tongue {
  background-image: url(../img/sprite.png);
  background-position: -58px -319px;
  width: 24px;
  height: 24px;
}

.Winking Face {
  background-image: url(../img/sprite.png);
  background-position: -87px -319px;
  width: 24px;
  height: 24px;
}

.Woman Frowning Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -116px -319px;
  width: 24px;
  height: 24px;
}

.Woman Frowning Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -145px -319px;
  width: 24px;
  height: 24px;
}

.Woman Frowning Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -174px -319px;
  width: 24px;
  height: 24px;
}

.Woman Frowning Medium Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -203px -319px;
  width: 24px;
  height: 24px;
}

.Woman Frowning Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -232px -319px;
  width: 24px;
  height: 24px;
}

.Woman Frowning {
  background-image: url(../img/sprite.png);
  background-position: -261px -319px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing No Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -290px -319px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing No Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -319px -319px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing No Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px 0px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing No Medium Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -29px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing No Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -58px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing No {
  background-image: url(../img/sprite.png);
  background-position: -348px -87px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing Ok Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -116px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing Ok Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -145px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing Ok Medium Dark Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -174px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing Ok Medium Light Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -203px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing Ok Medium Skin Tone {
  background-image: url(../img/sprite.png);
  background-position: -348px -232px;
  width: 24px;
  height: 24px;
}

.Woman Gesturing Ok {
  background-image: url(../img/sprite.png);
  background-position: -348px -261px;
  width: 24px;
  height: 24px;
}

.Woman Getting Haircut {
  background-image: url(../img/sprite.png);
  background-position: -348px -290px;
  width: 24px;
  height: 24px;
}

.Woozy Face {
  background-image: url(../img/sprite.png);
  background-position: -348px -319px;
  width: 24px;
  height: 24px;
}

.Worried Face {
  background-image: url(../img/sprite.png);
  background-position: 0px -348px;
  width: 24px;
  height: 24px;
}

.Yawning Face {
  background-image: url(../img/sprite.png);
  background-position: -29px -348px;
  width: 24px;
  height: 24px;
}

.Zany Face {
  background-image: url(../img/sprite.png);
  background-position: -58px -348px;
  width: 24px;
  height: 24px;
}

.Zipper Mouth Face {
  background-image: url(../img/sprite.png);
  background-position: -87px -348px;
  width: 24px;
  height: 24px;
}

.alien-monster {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}

.alien {
  background-image: url(../img/sprite.png);
  background-position: -29px 0px;
  width: 24px;
  height: 24px;
}

.angry-face-with-horns {
  background-image: url(../img/sprite.png);
  background-position: 0px -29px;
  width: 24px;
  height: 24px;
}

.angry-face {
  background-image: url(../img/sprite.png);
  background-position: -29px -29px;
  width: 24px;
  height: 24px;
}

.anguished-face {
  background-image: url(../img/sprite.png);
  background-position: -58px 0px;
  width: 24px;
  height: 24px;
}

/*--micromodal--*/
/**************************\
  Basic Modal Styles
\**************************/
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 20px;
  background: transparent;
  border: 0;
}

.modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal-video .modal__container {
  width: 100%;
  padding: 0;
  max-width: 720px;
  overflow: visible;
}

.modal-video .modal__content {
  margin: 0;
}

.modal-video .modal__close {
  top: -20px;
  right: -15px;
}

.modal__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.modal__video iframe,
.modal__video object,
.modal__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--end micromodal--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--simplebar-*/
[data-simplebar] {
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/*--end simplebar--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
form {
  display: block;
  position: relative;
  min-height: 7.5rem;
}

#btn {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  color: lightgray;
  cursor: pointer;
}
#btn svg {
  fill: currentColor;
  display: inherit;
  width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;
  transition: color 0.5s ease-in, transform 0.5s linear;
  -webkit-transition: color 0.5s ease-in, transform 0.5s linear;
  transform: rotate(0) translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
}
#btn:hover {
  color: #b9b9b9;
}
#btn.active svg {
  color: #6f6fd1;
  transform: rotate(720deg) translateZ(0);
}

#input-box {
  max-height: 1.5rem;
  height: 1.5rem;
  cursor: text;
  position: relative;
  overflow: hidden;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  background-color: #f9f9f9;
  font-weight: 400;
}
#input-box #input-box-field {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  white-space: nowrap;
  overflow-x: scroll;
  min-height: 2.5rem;
  resize: none;
  text-overflow: ellipsis;
  user-select: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
}
#input-box #input-box-field:focus {
  outline: 0;
}
#input-box #input-box-field:not(:empty) ~ #input-box-placeholder {
  display: none;
}
#input-box #input-box-field:empty {
  caret-color: lightgray;
}
#input-box #input-box-field br, #input-box #input-box-field p, #input-box #input-box-field div {
  display: none;
}
#input-box #input-box-field .emoji {
  cursor: text;
  vertical-align: middle;
  display: inline;
  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
}
#input-box #input-box-placeholder {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  pointer-events: none;
  color: lightgray;
}
#input-box #input-box-placeholder::before {
  content: attr(data-ph);
}

#emoji-box {
  width: 100%;
  margin-top: 0.5rem;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  will-change: opacity, visibility;
}
#emoji-box.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
#emoji-box::before {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.75rem 0.5rem;
  border-color: transparent transparent #f9f9f9 transparent;
  content: "";
  top: -0.45rem;
  left: 0.25rem;
}
#emoji-box div {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  background-color: #f9f9f9;
  padding: 0 0.75rem;
  width: 100%;
  height: 4.5rem;
  overflow-y: scroll;
  line-height: 0.25rem;
}
#emoji-box div::before, #emoji-box div::after {
  height: 0.75rem;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  position: sticky;
  position: -webkit-sticky;
  display: inherit;
  background: linear-gradient(to bottom, #f9f9f9, transparent);
  z-index: 2;
}
#emoji-box div::after {
  top: auto;
  bottom: -1px;
  background: linear-gradient(to bottom, transparent, #f9f9f9);
}
#emoji-box div::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}
#emoji-box div::-webkit-scrollbar-button {
  display: none;
}
#emoji-box div::-webkit-scrollbar-track-piece {
  background-color: #ececec;
}
#emoji-box div::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.15s ease-in-out;
}
#emoji-box div::-webkit-scrollbar-thumb:active {
  background-color: #6f6fd1;
}
#emoji-box div .emoji {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: opacity 0.1s linear, background-color 0.1s ease-in, border-color 0.1s ease-in;
  cursor: pointer;
  opacity: 0.9;
}
#emoji-box div .emoji:hover {
  opacity: 1;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.emoji {
  display: inline-block;
}

/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  min-width: 20rem;
  position: relative;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #000;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

.wrapper {
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > * {
  min-width: 0;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 83.75rem;
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  position: relative;
  overflow: hidden;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.tabs__buttons {
  display: -ms-flexbox;
  display: flex;
}

.tab-content,
.tabs__buttons li {
  list-style-type: none;
}

.tab {
  text-decoration: none;
  display: block;
}

.form {
  padding: 2rem 2.5rem 1.25rem 2.5rem;
  background-color: #F1F1F5;
  border-radius: 1.25rem;
}
@media only screen and (max-width: 47.99875em) {
  .form {
    padding: 1.625rem 1.25rem 1.25rem 1.25rem;
  }
}

.form__title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form__label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form__key {
  display: block;
  margin-bottom: 0.5rem;
  color: #697586;
  font-size: 0.875rem;
}

.form__input {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 2.75rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  border: 1px solid transparent;
  background: #fff;
  border-radius: 0.625rem;
  color: #000;
  font-size: 0.875rem;
}
.form__input::-webkit-input-placeholder {
  color: #697586;
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: #697586;
  opacity: 1;
}
.form__input:-moz-placeholder {
  color: #697586;
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: #697586;
  opacity: 1;
}
.form__error .form__input {
  border-color: #ED2525;
}
.form__label--password .form__input {
  padding-right: 3.125rem;
}

.form__error-message {
  color: #ED2525;
  display: none;
}
.form__error .form__error-message {
  display: block;
}

.form__custom-policy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form__custom {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.form__checks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.form__check {
  position: relative;
}
.form__check input[type=radio] {
  position: absolute;
  box-sizing: border-box;
  width: 0.0625rem;
  height: 0.0625rem;
  display: block;
  left: 50%;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.form__check input[type=radio]:checked + .form__check-value {
  background: #3A8BF3;
  color: #fff;
}

.form__check-value {
  display: block;
  position: relative;
  padding: 0.3125rem 1rem;
  height: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .form__check-value {
    cursor: pointer;
  }
  .form__check-value:hover {
    background: #3A8BF3;
    color: #fff;
  }
}

.form__area {
  width: 100%;
  height: 6.25rem;
  padding: 1.25rem;
  resize: none;
  border: none;
  background: #fff;
  padding-left: 1.25rem;
  color: #222222;
}

.eye-ico {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0.75rem;
  right: 1.25rem;
}
@media (any-hover: hover) {
  .eye-ico {
    cursor: pointer;
  }
}
.eye-ico .icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
}
.eye-ico.unblind .icon-eye {
  display: block;
}
.eye-ico.unblind .icon-eye-off {
  display: none;
}
.eye-ico .icon-eye {
  display: none;
}
.eye-ico .icon-eye-off {
  color: #697586;
}

.form__bottom {
  text-align: center;
}

.form__line:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form__text {
  text-align: center;
  color: #697586;
  font-size: 0.875rem;
}
.form__text--dark {
  color: #000;
}
.form__text button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #697586;
  font-size: 0.875rem;
}
@media (any-hover: hover) {
  .form__text button {
    cursor: pointer;
  }
}
@media (any-hover: hover) {
  .form__text button:hover {
    color: #000;
  }
}
.form__text a {
  text-decoration: none;
}
@media (any-hover: hover) {
  .form__text a:hover {
    color: #000;
  }
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.page {
  padding: 1.875rem 0;
}
@media only screen and (min-width: 61.99875em) {
  .page-main {
    height: 100vh;
  }
}
@media only screen and (max-width: 47.99875em) {
  .page-enter .page-main__forms .sidebar-form {
    display: none;
  }
}
.page-enter .page-main__forms.active .page-main__form-display {
  display: none;
}
@media only screen and (max-width: 47.99875em) {
  .page-enter .page-main__forms.active .sidebar-form {
    display: block;
  }
}
@media only screen and (max-width: 36em) {
  .page-buyer .page-main__visual, .page-agency .page-main__visual {
    aspect-ratio: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 36em) {
  .page-buyer .page-main__visual .logo, .page-agency .page-main__visual .logo {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (max-width: 36em) {
  .page-buyer .page-main__hero,
  .page-buyer .page-main__title, .page-agency .page-main__hero,
  .page-agency .page-main__title {
    display: none;
  }
}
@media only screen and (max-width: 36em) {
  .page-buyer .page-main__coverage,
  .page-buyer .main-page__variants, .page-agency .page-main__coverage,
  .page-agency .main-page__variants {
    display: none;
  }
}
@media only screen and (max-width: 36em) {
  .page-buyer .page-main__wrapper, .page-agency .page-main__wrapper {
    gap: 0;
  }
}
@media only screen and (max-width: 36em) {
  .page-buyer .page-main__content, .page-agency .page-main__content {
    gap: 0;
  }
}

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #3A8BF3;
  padding: 0.3125rem 1.5rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 0.625rem;
  border: 1px solid transparent;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
}
.btn-fw {
  width: 100%;
}
@media (any-hover: hover) {
  .btn {
    cursor: pointer;
  }
  .btn:hover, .btn:active {
    border-color: #3A8BF3;
    background-color: transparent;
    color: #3A8BF3;
  }
}
.btn-dark {
  background-color: #697586;
  color: #fff;
}
.btn-empty {
  background-color: transparent;
  color: #3A8BF3;
  border-color: #3A8BF3;
}
@media (any-hover: hover) {
  .btn-empty:hover, .btn-empty:active {
    border-color: transparent;
    background-color: #3A8BF3;
    color: #fff;
  }
}
.btn-mini {
  height: 2.25rem;
  border-radius: 6.25rem;
  background-color: #F1F1F5;
  color: #000;
  border-color: transparent;
}
@media (any-hover: hover) {
  .btn-mini:hover, .btn-mini:active {
    border-color: transparent;
    background-color: #697586;
    color: #fff;
  }
}

.link {
  color: #3A8BF3;
  text-decoration: none;
  transition: olor 0.2s ease;
}
@media (any-hover: hover) {
  .link:hover {
    color: #000;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 81.25em) {
  h1 {
    font-size: clamp( 1.5rem , 1.3rem  +  1vw , 2.5rem );
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1666666667;
  font-weight: 500;
}

.simplebar-scrollbar {
  width: 2px;
  left: auto;
  background-color: #3A8BF3;
}

/*--------------------END ui----------------------*/
/*--------------------footer----------------------*/
/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
/*--------------------END header----------------------*/
/*--------------------main-sidebar----------------------*/
.page-main__forms {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.page-main__sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media only screen and (min-width: 61.99875em) {
  .page-main__sidebar {
    -ms-flex: 0 0 26.25rem;
    flex: 0 0 26.25rem;
  }
}

.sidebar-form--access .form__bottom {
  padding-top: 1.875rem;
}

.main-page__variants {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.9375rem;
  color: #fff;
  border-radius: 1.25rem;
}
.main-page__variants:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@media only screen and (max-width: 61.99875em) {
  .main-page__variants {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    aspect-ratio: 335/300;
  }
}

.main-page__variants-val {
  position: relative;
  margin-bottom: 1.25rem;
  font-size: 3.25rem;
  line-height: 1.0769230769;
  z-index: 2;
}

.main-page__variants-descr {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.2;
  z-index: 2;
  text-align: center;
}

.sidebar-form__buttons {
  margin-bottom: 1.5rem;
  position: relative;
}
.sidebar-form__buttons:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #E1E5ED;
}

.sidebar-form__tab-item {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.sidebar-form__tab {
  position: relative;
  z-index: 1;
  padding-bottom: 0.8125rem;
  color: #697586;
  border-bottom: 0.125rem solid transparent;
}
.sidebar-form__tab.active {
  color: #000;
  border-bottom-color: #3A8BF3;
}

.page-main__form-display {
  text-align: center;
}
@media only screen and (min-width: 47.99875em) {
  .page-main__form-display {
    display: none;
  }
}

/*--------------------END main-sidebar----------------------*/
/*--------------------modals----------------------*/
.modal {
  font-family: "Raleway", sans-serif;
}
.modal h2 {
  margin-bottom: 1.875rem;
}

@media (any-hover: hover) {
  .modal__close {
    cursor: pointer;
  }
}

.modal__close:before {
  color: #697586;
}

.modal__content {
  margin: 0;
  color: #000;
}

.modal__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

.modal__bottom {
  margin-top: 3.125rem;
}

.modal__container {
  width: 100%;
  max-width: 40rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 5.3125rem;
  padding-right: 5.3125rem;
  border-radius: 1.25rem;
  text-align: center;
}
@media (max-width: 81.25em) {
  .modal__container {
    padding-top: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
  }
}
@media (max-width: 81.25em) {
  .modal__container {
    padding-bottom: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
  }
}
@media (max-width: 81.25em) {
  .modal__container {
    padding-left: clamp( 1.875rem , 1.1875rem  +  3.4375vw , 5.3125rem );
  }
}
@media (max-width: 81.25em) {
  .modal__container {
    padding-right: clamp( 1.875rem , 1.1875rem  +  3.4375vw , 5.3125rem );
  }
}

.modal-privacy .modal__container {
  max-width: 56.25rem;
  text-align: left;
}
.modal-privacy .modal__content p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.modal-privacy__title {
  margin-bottom: 1.25rem;
  text-align: center;
  color: #3A8BF3;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
}

/*--------------------END modals----------------------*/
/*--------------------page-main----------------------*/
.page-main__wrapper {
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  height: 100%;
}
@media only screen and (max-width: 61.99875em) {
  .page-main__wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875rem;
  }
}

.page-main__content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.4375rem;
}

.page-main__visual {
  padding-left: 3.875rem;
  padding-top: 3.875rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 1.25rem 1.25rem;
}
@media (max-width: 81.25em) {
  .page-main__visual {
    padding-left: clamp( 0.9375rem , 0.35rem  +  2.9375vw , 3.875rem );
  }
}
@media (max-width: 81.25em) {
  .page-main__visual {
    padding-top: clamp( 1.875rem , 1.475rem  +  2vw , 3.875rem );
  }
}
@media only screen and (max-width: 61.99875em) {
  .page-main__visual {
    padding-top: 0;
    aspect-ratio: 335/280;
  }
}

.page-main__hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1.25rem;
}
@media only screen and (max-width: 61.99875em) {
  .page-main__hero {
    top: 2.1875rem;
  }
}

.logo {
  text-align: right;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 61.99875em) {
  .logo {
    margin-bottom: 2.1875rem;
  }
}
@media only screen and (min-width: 61.99875em) {
  .logo {
    max-width: 5.0625rem;
    position: absolute;
    right: 2.5625rem;
    top: 1.4375rem;
  }
}

.page-main__title {
  max-width: 27.625rem;
  position: relative;
  z-index: 1;
}

.page-main__coverage {
  padding: 1.25rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  column-gap: 1.5625rem;
  row-gap: 1.25rem;
  box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04), 0px -6px 15px 0px rgba(71, 93, 169, 0.03);
}
@media only screen and (max-width: 47.99875em) {
  .page-main__coverage {
    padding-top: 0;
  }
}
@media only screen and (max-width: 47.99875em) {
  .page-main__coverage {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.coverage-page-main__img {
  aspect-ratio: 340/260;
  border-radius: 0.625rem;
}
@media only screen and (max-width: 47.99875em) {
  .coverage-page-main__img {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .coverage-page-main__img {
    -ms-flex: 0 0 40.4761904762%;
    flex: 0 0 40.4761904762%;
  }
}

.coverage-page-main__title {
  margin-bottom: 0.6875rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
@media only screen and (min-width: 47.99875em) {
  .coverage-page-main__title {
    margin-bottom: 2.1875rem;
  }
}

/*--------------------END page-main----------------------*/
/*--------------------expanse-sidebar-left----------------------*/
.expanse__nav {
  padding: 0.75rem 2rem;
}

.expanse-sidebar__logo {
  max-width: 5.0625rem;
  margin-bottom: 2.5rem;
}
.expanse-sidebar__logo img {
  max-width: 100%;
}

.expanse-menu__item {
  list-style-type: none;
}
.expanse-menu__item:not(:last-child) {
  margin-bottom: 1rem;
}

.expanse-menu__link {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 3rem;
  padding: 0.3125rem 1.5rem;
  background-color: #F1F1F5;
  text-decoration: none;
  color: #000;
  border-radius: 0.625rem;
}
.expanse-menu__link.active {
  margin-left: 0.375rem;
  background-color: #3A8BF3;
  color: #fff;
}
.expanse-menu__link.active:before {
  display: block;
}
.expanse-menu__link:before {
  content: "";
  display: none;
  position: absolute;
  left: -0.375rem;
  top: 50%;
  margin-top: -1rem;
  height: 2rem;
  width: 0.125rem;
  vertical-align: middle;
  background-color: #3A8BF3;
  border-radius: 2px 5px 5px 2px;
}

/*--------------------END expanse-sidebar-left----------------------*/
/*--------------------expanse-template----------------------*/
.expanse {
  height: 100%;
  padding: 1.25rem 0;
  display: -ms-flexbox;
  display: flex;
}

.expanse-nav {
  -ms-flex: 0 0 18.75rem;
  flex: 0 0 18.75rem;
}

.expanse__content {
  height: 100%;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.expanse__container {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

/*--------------------END expanse-template----------------------*/
/*# sourceMappingURL=maps/main.css.map */
