doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title
			block title
		meta(name="description" content="")
		link(rel="icon" href="img/favicon.png")
		//- meta(name="viewport" content="width=device-width, initial-scale=1.0" )
		
		//- убрать "зуммирование" на safari ios:
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no")
		
		//- фикс подсветки телефонов на safari ios:
		//- meta(content="telephone=no" name="format-detection")

		link(rel="stylesheet" href="css/main.css")
	
	body
		include _mixins
		include _vars
		include ../_blocks/modals
		//- html for use slideOut.js--------------------
		//- include _body-html-for-slideout 

		//- footer-to-bottom--------------------
		//- include _footer-to-bottom
		
		//- при использовании _body-html-for-slideout или _footer-to-bottom  -- закомментировать:
		//- #wrapper-for-scroll-fix
		//- include ../_sections/header
		.expanse.expanse--messenger
			include ../_blocks/expanse/expanse-sidebar-left
			.expanse__messenger
				include ../_blocks/messenger/messenger
				include ../_blocks/expanse/expanse-content-messenger

		#user
			.user-tooltip
				.user-tooltip__header
					.user-tooltip__photo
						img(src="img/chat/users/user-big.jpg" alt="alt")
					.user-tooltip__person
						.user-tooltip__name Евгений Орлов
						a(href="tel:+79125873656").user-tooltip__phone +7 912 587-36-56
						.user-tooltip__role Агент
				
				.user-tooltip__info
					.user-tooltip__key На сайте:
					.user-tooltip__val с 15 мая 2024г
					.user-tooltip__key Рейтинг:
					.user-tooltip__val Премиум / В бане до 23.02.24

				.user-tooltip__footer
					button.btn.btn-empty(type="button") Подтвердить  сделку
		+service-rules-modal
		+city-select-modal
		+requests-modal
		//- block content

		//- include ../_sections/footer
		

		//- УДАЛИТЬ, если в gulpfile.js buildMode = 'webpack'
		include _scripts

		//- УДАЛИТЬ, если в gulpfile.js buildMode = 'webpack'
		block page-scripts
		
		//- УДАЛИТЬ, если в gulpfile.js buildMode = 'webpack'
		script(src='js/libs/einput/einput.js')
		script(src='js/common.js')
		

		//- если в gulpfile.js buildMode = 'webpack'
		//- script(src='js/main.min.js')

		//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NAmCu9dm16a9i0oeX0T6rBQFgObeiZA&amp;callback=initMap" async defer>)