/*--------------------expanse__chat----------------------*/
.expanse__chat {
  padding: rem(10) rem(20);
  display: flex;
  // align-items: center;
  min-height: rem(60);
  border-radius: 0 0 0 rem(30);
  border-top: 1px solid $line;
  background-color: #fff;
  box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);

}
.chat-form {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  column-gap: rem(20);
}
.chat-form__label {
  position: relative;
}
.file-input {
  @include checkbox();

  .icon{
    @include absolute-center;
  }
}
.chat-form__file-add {
  width: rem(24);
  // height: rem(24);
  flex-shrink: 0;
  position: relative;

  @media (any-hover: hover) { //только для устройств с ховером
      cursor: pointer;
    }

  .icon {
    font-size: rem(20);
    color: $gray-dark;
  }

}
.icon-plus-circle {}
.chat-box {
  flex: 1 1 auto;
}
.chat-box__field {

}
.chat-form__send{
  flex: 0 0 rem(24);
  height: 100%;
  display: flex;
  align-items: center;
  @include but-null();

  .icon{
    font-size: rem(20);
  }
}
/*--------------------END expanse__chat----------------------*/ 
// background-color для панели смайлов
$main-color: #f9f9f9;
$width: rem(24);



// p:last-of-type {
//   margin-bottom: 2.5rem;
// }

// form {
//   display: block;
//   position: relative;
//   // min-height: 7.5rem;
// }

// кнопока открытия панели смайлов
// #btn {
//   float: left;
//   width: 1.5rem;
//   height: 1.5rem;
//   background: transparent;
//   color: darken($main-color,15%);
//   cursor: pointer;
  
//   // иконка
//   svg {
//     fill: currentColor;
//     display: inherit;
//     width: 1rem;
//     height: 1rem;
//     margin-left: .2rem;
//     transition: color .5s ease-in, transform .5s linear;
//     -webkit-transition: color .5s ease-in, transform .5s linear;
//     transform: rotate(0) translateZ(0);
//     backface-visibility: hidden;
//     will-change: transform;
//    }
   
//    &:hover { color: darken($main-color,25%); }
   
//    &.active {
//      svg {
//        color: #6f6fd1;
//        transform: rotate(720deg) translateZ(0);
//      }
//    }

// }

// обертка для строки
.chat-box {
  // max-height: 1.5rem;
  // height: 1.5rem;
  cursor: text;
  position: relative;
  overflow: hidden;
  // padding: 0 .5rem;
  // line-height: 1.5rem;
  // background-color: $main-color;
  font-weight: 400;
  
  // поле ввода
  #input-box-field {
    
    display: block; // см. https://stackoverflow.com/questions/18552336/prevent-contenteditable-adding-div-on-enter-chrome
    
    &:focus { outline: 0; }
    
    
    // position: absolute;
    top: 0;
    left: .5rem;
    right: .5rem;
    // white-space: nowrap;
    // overflow-x: scroll; // скрытие скроллбара
    // min-height: 2.5rem;
    resize: none;
    // text-overflow: ellipsis;
    
    // вывод placeholder
    &:not(:empty) ~ #input-box-placeholder { display: none; }
    &:empty { caret-color: darken($main-color,15%); }
    
    user-select: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    
    // скрытие лишних тегов
    br, p, div { display: none; }

    // смайлики
    .emoji {
      cursor: text;
      vertical-align: middle;
      display: inline;
      max-width: $width;
      min-width: $width;
      max-height: $width;
      min-height: $width;
    }
    
  }
  
  // placeholder
  // #input-box-placeholder {
  //   position: absolute;
  //   top: 0;
  //   left: .5rem;
  //   right: .5rem;
  //   pointer-events: none;
	// 	color: darken($main-color, 15%);  
    
  //   &::before { content: attr(data-ph); }

  // }

}

// панель смайликов
#emoji-box {
  
  // открытая панель
  // &.show {
  //   visibility: visible;
  //   opacity: 1;
  //   pointer-events: auto;
  // }
  
  // pointer-events: none;
  // position: absolute;
  // width: 100%;
  // margin-top: .5rem;
  // visibility: hidden;
  // opacity: 0;
  // transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  // -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  // will-change: opacity, visibility;
 
  // стрелочка
  // &::before {
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 0 .5rem .75rem .5rem;
  //   border-color: transparent transparent $main-color transparent;
  //   content: "";
  //   top: -.45rem;
  //   left: .25rem;
  // }  
  
  // div {
   
  //   // эффекты тени (работают в браузерах с поддержкой position: sticky)
  //   &::before,
  //   &::after {
  //     height: .75rem;
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     content: "";
  //     position: sticky;
  //     position: -webkit-sticky;
  //     display: inherit;
  //     background: linear-gradient(to bottom, $main-color, transparent);
  //     z-index: 2;
  //   }

  //   &::after {
  //     top: auto;
  //     bottom: -1px;
  //     background: linear-gradient(to bottom, transparent, $main-color);
  //   }    

  //   // скроллбар (работает только на webkit)
  //   &::-webkit-scrollbar { 
  //     background: transparent;
  //     width: .5rem;
  //    }
  //   &::-webkit-scrollbar-button { display: none; }
  //   &::-webkit-scrollbar-track-piece { background-color: darken($main-color,5%); }
    
  //   &::-webkit-scrollbar-thumb { 
  //     background-color: darken($main-color,10%);
  //     transition: background-color .1s linear;
  //     -webkit-transition: background-color .15s ease-in-out;
  //     &:active {
  //       background-color: #6f6fd1;
  //     }
  //   }
    
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  //   background-color: $main-color;
  //   padding: 0 .75rem;
  //   width: 100%;
  //   height: 4.5rem;
  //   overflow-y: scroll;
  //   line-height: .25rem;    
    
    
  // }
 
  

}
// смайлики
.emoji {
  display: inline-block;
  // width: 20px;
  // height: 20px;
  // border: 2px solid transparent;
  background-clip: content-box;
  transition: opacity .1s linear, background-color .1s ease-in, border-color .1s ease-in;
  // opacity: .9;
  .emoji-list &{
    cursor: pointer;
    &:hover {
      opacity: 1;
      background-color: darken($main-color,10%);
      border-color: darken($main-color,10%);
    }

  }
}

// смайлики
// .emoji {
//   cursor: default;
//   width: 16px;
//   height: 16px;
//   display: inline-block;
//   background: url(https://web3r.ru/img/u/emoji.png) no-repeat;
