.form {
	padding: rem(32) rem(40) rem(20) rem(40);
	background-color: $gray;
	border-radius: rem(20);

	@include max-screen($sm){
		
		padding: rem(26) rem(20) rem(20) rem(20);
	}
}
.form__title {
	margin-bottom: rem(24);
	text-align: center;
}
.form__label {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&:not(:last-child){
		margin-bottom: rem(15);
	}

}
.form__add {
	flex-direction: column;
}
.form__key{

	display: block;
	margin-bottom: rem(8);
	color: $gray-dark;
	font-size: rem(14);
}
.form__input {
	flex: 0 0 100%;
	height: rem(44);
	padding-left: rem(18);
	padding-right: rem(18);
	border: 1px solid transparent;
	// padding-right: 55px;
	background: #fff ;
	border-radius: rem(10);
	@include placecolor($gray-dark);
	color: $text;
	font-size: rem(14);
	font-family: "Raleway", sans-serif;;
	border: 1px solid $line;

	.form__error &{
		border-color: $red;
	}
	.form__label--password &{
		padding-right: rem(50);
	}

}
.form__error-message {
	color: $red;
	display: none;
	.form__error &{
		display: block;
	}
}
.form__custom-policy {
	display: flex;
	align-items: flex-start;

}
.form__custom {
	margin-top: rem(3);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-right: rem(12);
	width: rem(16);
	height: rem(16);
	border: 1px solid rgb(105, 117, 134);
	border-radius: 50%;


	&:after{
		display: none;
		content: '';
		width: rem(9);
		height: rem(9);
		background-color: $accent;
		border-radius: inherit;
	}
}
.form__checks {
	display: flex;
	flex-wrap: wrap;
	gap: rem(12);
	margin-bottom: rem(24);


}
.form__check {
	position: relative;
	display: flex;

	&:not(:last-of-type){
		margin-bottom: rem(16);	
	}

	input[type="radio"]{
		@include checkbox;
		&:checked + .form__custom {
			border-color: $accent;

			&:after{
				display: block;
			}
		}

	}
}
.form__check-value {
	
}
.form__area{
	width: 100%;
	height: rem(100);
	padding:rem(20);
    resize: none;
	border: none;
	background: #fff;
	padding-left: rem(20);
	color: #222222;
}
.form__policy {

}
.eye-ico{
	width: rem(24);
	height: rem(24);
	position: relative;
	@include but-null();
	position: absolute;
	bottom: rem(12);
	right: rem(20);

	.icon{
		@include absolute-center;
		font-size: rem(14);
	}

	&.unblind{
		.icon-eye{
			display: block;

		}
		.icon-eye-off{
				display: none;

		}
	}

	.icon-eye{
		display: none;
	}
	.icon-eye-off{
		color: $gray-dark;

	}


}
.form__bottom{
	
	text-align: center;
}
.form__line{
	&:not(:last-child){
		margin-bottom: rem(15);
	}
}
.form__text{
	text-align: center;
	color: $gray-dark;
	font-size: rem(14);

	&--dark{
		color: $text;
	}
	button{
		@include but-null();
		color: $gray-dark;
		font-size: rem(14);

		@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
					color: $text;
		
				}
			}
	}
	a{
		text-decoration: none;

		@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
					color: $text;
		
				}
			}
	}
}
.form__file{
	@include checkbox();
}
.form__file-field{
	width: rem(60);
	height: rem(60);
	display: flex;
	align-items: center;
	justify-content: center;
	border: rem(1) solid $line;
	border-radius: 50%;

	.icon{
		font-size: rem(20);
		color:$gray-dark;
	}

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;

		}
}