
// background-color для панели смайлов
$main-color: #f9f9f9;
$width: 24px;

// p:last-of-type {
//   margin-bottom: 2.5rem;
// }

// form {
//   display: block;
//   position: relative;
//   // min-height: 7.5rem;
// }

// кнопока открытия панели смайлов
#btn {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  color: darken($main-color,15%);
  cursor: pointer;
  
  // иконка
  svg {
    fill: currentColor;
    display: inherit;
    width: 1rem;
    height: 1rem;
    margin-left: .2rem;
    transition: color .5s ease-in, transform .5s linear;
    -webkit-transition: color .5s ease-in, transform .5s linear;
    transform: rotate(0) translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
   }
   
   &:hover { color: darken($main-color,25%); }
   
   &.active {
     svg {
       color: #6f6fd1;
       transform: rotate(720deg) translateZ(0);
     }
   }

}

// обертка для строки
#input-box {
  max-height: 1.5rem;
  height: 1.5rem;
  cursor: text;
  position: relative;
  overflow: hidden;
  padding: 0 .5rem;
  line-height: 1.5rem;
  background-color: $main-color;
  font-weight: 400;
  
  // поле ввода
  #input-box-field {
    
    display: inline-block; // см. https://stackoverflow.com/questions/18552336/prevent-contenteditable-adding-div-on-enter-chrome
    
    &:focus { outline: 0; }
    
    
    position: absolute;
    top: 0;
    left: .5rem;
    right: .5rem;
    white-space: nowrap;
    overflow-x: scroll; // скрытие скроллбара
    min-height: 2.5rem;
    resize: none;
    text-overflow: ellipsis;
    
    // вывод placeholder
    &:not(:empty) ~ #input-box-placeholder { display: none; }
    &:empty { caret-color: darken($main-color,15%); }
    
    user-select: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    
    // скрытие лишних тегов
    br, p, div { display: none; }

    // смайлики
    .emoji {
      cursor: text;
      vertical-align: middle;
      display: inline;
      max-width: $width;
      min-width: $width;
      max-height: $width;
      min-height: $width;
    }
    
  }
  
  // placeholder
  #input-box-placeholder {
    position: absolute;
    top: 0;
    left: .5rem;
    right: .5rem;
    pointer-events: none;
		color: darken($main-color, 15%);  
    
    &::before { content: attr(data-ph); }

  }

}

// панель смайликов
#emoji-box {
  
  // открытая панель
  &.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  
  // pointer-events: none;
  // position: absolute;
  width: 100%;
  margin-top: .5rem;
  // visibility: hidden;
  // opacity: 0;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  will-change: opacity, visibility;
 
  // стрелочка
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 .5rem .75rem .5rem;
    border-color: transparent transparent $main-color transparent;
    content: "";
    top: -.45rem;
    left: .25rem;
  }  
  
  div {
   
    // эффекты тени (работают в браузерах с поддержкой position: sticky)
    &::before,
    &::after {
      height: .75rem;
      left: 0;
      right: 0;
      top: 0;
      content: "";
      position: sticky;
      position: -webkit-sticky;
      display: inherit;
      background: linear-gradient(to bottom, $main-color, transparent);
      z-index: 2;
    }

    &::after {
      top: auto;
      bottom: -1px;
      background: linear-gradient(to bottom, transparent, $main-color);
    }    

    // скроллбар (работает только на webkit)
    &::-webkit-scrollbar { 
      background: transparent;
      width: .5rem;
     }
    &::-webkit-scrollbar-button { display: none; }
    &::-webkit-scrollbar-track-piece { background-color: darken($main-color,5%); }
    
    &::-webkit-scrollbar-thumb { 
      background-color: darken($main-color,10%);
      transition: background-color .1s linear;
      -webkit-transition: background-color .15s ease-in-out;
      &:active {
        background-color: #6f6fd1;
      }
    }
    
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    background-color: $main-color;
    padding: 0 .75rem;
    width: 100%;
    height: 4.5rem;
    overflow-y: scroll;
    line-height: .25rem;    
    
    // смайлики
    .emoji {
      width: 20px;
      height: 20px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: opacity .1s linear, background-color .1s ease-in, border-color .1s ease-in;
      cursor: pointer;
      opacity: .9;
      &:hover {
        opacity: 1;
        background-color: darken($main-color,10%);
        border-color: darken($main-color,10%);
      }
    }
    
  }
 
  

}
 .emoji {
  display: inline-block;
}

// смайлики
// .emoji {
//   cursor: default;
//   width: 16px;
//   height: 16px;
//   display: inline-block;
//   background: url(https://web3r.ru/img/u/emoji.png) no-repeat;

//   // спрайт
//   &.e1   {background-position: -0px -0px}
//   &.e10  {background-position: -16px -16px}
//   &.e100 {background-position: -48px -192px}
//   &.e101 {background-position: -64px -192px}
//   &.e102 {background-position: -80px -192px}
//   &.e103 {background-position: -96px -192px}
//   &.e104 {background-position: -112px -192px}
//   &.e105 {background-position: -0px -208px}
//   &.e106 {background-position: -16px -208px}
//   &.e107 {background-position: -32px -208px}
//   &.e108 {background-position: -48px -208px}
//   &.e109 {background-position: -64px -208px}
//   &.e11  {background-position: -32px -16px}
//   &.e110 {background-position: -80px -208px}
//   &.e111 {background-position: -96px -208px}
//   &.e112 {background-position: -112px -208px}
//   &.e113 {background-position: -0px -224px}
//   &.e114 {background-position: -16px -224px}
//   &.e115 {background-position: -32px -224px}
//   &.e116 {background-position: -48px -224px}
//   &.e117 {background-position: -64px -224px}
//   &.e118 {background-position: -80px -224px}
//   &.e119 {background-position: -96px -224px}
//   &.e12  {background-position: -48px -16px}
//   &.e120 {background-position: -112px -224px}
//   &.e121 {background-position: -0px -240px}
//   &.e122 {background-position: -16px -240px}
//   &.e123 {background-position: -32px -240px}
//   &.e124 {background-position: -48px -240px}
//   &.e125 {background-position: -64px -240px}
//   &.e126 {background-position: -80px -240px}
//   &.e127 {background-position: -96px -240px}
//   &.e128 {background-position: -112px -240px}
//   &.e129 {background-position: -0px -256px}
//   &.e13  {background-position: -64px -16px}
//   &.e130 {background-position: -16px -256px}
//   &.e131 {background-position: -32px -256px}
//   &.e132 {background-position: -48px -256px}
//   &.e133 {background-position: -64px -256px}
//   &.e134 {background-position: -80px -256px}
//   &.e135 {background-position: -96px -256px}
//   &.e136 {background-position: -112px -256px}
//   &.e137 {background-position: -0px -272px}
//   &.e138 {background-position: -16px -272px}
//   &.e139 {background-position: -32px -272px}
//   &.e14  {background-position: -80px -16px}
//   &.e140 {background-position: -48px -272px}
//   &.e141 {background-position: -64px -272px}
//   &.e142 {background-position: -80px -272px}
//   &.e143 {background-position: -96px -272px}
//   &.e144 {background-position: -112px -272px}
//   &.e145 {background-position: -0px -288px}
//   &.e146 {background-position: -16px -288px}
//   &.e147 {background-position: -32px -288px}
//   &.e148 {background-position: -48px -288px}
//   &.e149 {background-position: -64px -288px}
//   &.e15  {background-position: -96px -16px}
//   &.e150 {background-position: -80px -288px}
//   &.e151 {background-position: -96px -288px}
//   &.e152 {background-position: -112px -288px}
//   &.e153 {background-position: -0px -304px}
//   &.e154 {background-position: -16px -304px}
//   &.e155 {background-position: -32px -304px}
//   &.e156 {background-position: -48px -304px}
//   &.e157 {background-position: -64px -304px}
//   &.e158 {background-position: -80px -304px}
//   &.e159 {background-position: -96px -304px}
//   &.e16  {background-position: -112px -16px}
//   &.e160 {background-position: -112px -304px}
//   &.e161 {background-position: -0px -320px}
//   &.e162 {background-position: -16px -320px}
//   &.e163 {background-position: -32px -320px}
//   &.e164 {background-position: -48px -320px}
//   &.e165 {background-position: -64px -320px}
//   &.e166 {background-position: -80px -320px}
//   &.e167 {background-position: -96px -320px}
//   &.e168 {background-position: -112px -320px}
//   &.e169 {background-position: -0px -336px}
//   &.e17  {background-position: -0px -32px}
//   &.e170 {background-position: -16px -336px}
//   &.e171 {background-position: -32px -336px}
//   &.e172 {background-position: -48px -336px}
//   &.e173 {background-position: -64px -336px}
//   &.e174 {background-position: -80px -336px}
//   &.e175 {background-position: -96px -336px}
//   &.e176 {background-position: -112px -336px}
//   &.e177 {background-position: -0px -352px}
//   &.e178 {background-position: -16px -352px}
//   &.e179 {background-position: -32px -352px}
//   &.e18  {background-position: -16px -32px}
//   &.e180 {background-position: -48px -352px}
//   &.e181 {background-position: -64px -352px}
//   &.e182 {background-position: -80px -352px}
//   &.e183 {background-position: -96px -352px}
//   &.e184 {background-position: -112px -352px}
//   &.e185 {background-position: -0px -368px}
//   &.e186 {background-position: -16px -368px}
//   &.e187 {background-position: -32px -368px}
//   &.e188 {background-position: -48px -368px}
//   &.e189 {background-position: -64px -368px}
//   &.e19  {background-position: -32px -32px}
//   &.e190 {background-position: -80px -368px}
//   &.e191 {background-position: -96px -368px}
//   &.e192 {background-position: -112px -368px}
//   &.e193 {background-position: -0px -384px}
//   &.e194 {background-position: -16px -384px}
//   &.e195 {background-position: -32px -384px}
//   &.e196 {background-position: -48px -384px}
//   &.e197 {background-position: -64px -384px}
//   &.e198 {background-position: -80px -384px}
//   &.e199 {background-position: -96px -384px}
//   &.e2   {background-position: -16px -0px}
//   &.e20  {background-position: -48px -32px}
//   &.e200 {background-position: -112px -384px}
//   &.e201 {background-position: -0px -400px}
//   &.e202 {background-position: -16px -400px}
//   &.e203 {background-position: -32px -400px}
//   &.e204 {background-position: -48px -400px}
//   &.e205 {background-position: -64px -400px}
//   &.e206 {background-position: -80px -400px}
//   &.e207 {background-position: -96px -400px}
//   &.e21  {background-position: -64px -32px}
//   &.e22  {background-position: -80px -32px}
//   &.e23  {background-position: -96px -32px}
//   &.e24  {background-position: -112px -32px}
//   &.e25  {background-position: -0px -48px}
//   &.e26  {background-position: -16px -48px}
//   &.e27  {background-position: -32px -48px}
//   &.e28  {background-position: -48px -48px}
//   &.e29  {background-position: -64px -48px}
//   &.e3   {background-position: -32px -0px}
//   &.e30  {background-position: -80px -48px}
//   &.e31  {background-position: -96px -48px}
//   &.e32  {background-position: -112px -48px}
//   &.e33  {background-position: -0px -64px}
//   &.e34  {background-position: -16px -64px}
//   &.e35  {background-position: -32px -64px}
//   &.e36  {background-position: -48px -64px}
//   &.e37  {background-position: -64px -64px}
//   &.e38  {background-position: -80px -64px}
//   &.e39  {background-position: -96px -64px}
//   &.e4   {background-position: -48px -0px}
//   &.e40  {background-position: -112px -64px}
//   &.e41  {background-position: -0px -80px}
//   &.e42  {background-position: -16px -80px}
//   &.e43  {background-position: -32px -80px}
//   &.e44  {background-position: -48px -80px}
//   &.e45  {background-position: -64px -80px}
//   &.e46  {background-position: -80px -80px}
//   &.e47  {background-position: -96px -80px}
//   &.e48  {background-position: -112px -80px}
//   &.e49  {background-position: -0px -96px}
//   &.e5   {background-position: -64px -0px}
//   &.e50  {background-position: -16px -96px}
//   &.e51  {background-position: -32px -96px}
//   &.e52  {background-position: -48px -96px}
//   &.e53  {background-position: -64px -96px}
//   &.e54  {background-position: -80px -96px}
//   &.e55  {background-position: -96px -96px}
//   &.e56  {background-position: -112px -96px}
//   &.e57  {background-position: -0px -112px}
//   &.e58  {background-position: -16px -112px}
//   &.e59  {background-position: -32px -112px}
//   &.e6   {background-position: -80px -0px}
//   &.e60  {background-position: -48px -112px}
//   &.e61  {background-position: -64px -112px}
//   &.e62  {background-position: -80px -112px}
//   &.e63  {background-position: -96px -112px}
//   &.e64  {background-position: -112px -112px}
//   &.e65  {background-position: -0px -128px}
//   &.e66  {background-position: -16px -128px}
//   &.e67  {background-position: -32px -128px}
//   &.e68  {background-position: -48px -128px}
//   &.e69  {background-position: -64px -128px}
//   &.e7   {background-position: -96px -0px}
//   &.e70  {background-position: -80px -128px}
//   &.e71  {background-position: -96px -128px}
//   &.e72  {background-position: -112px -128px}
//   &.e73  {background-position: -0px -144px}
//   &.e74  {background-position: -16px -144px}
//   &.e75  {background-position: -32px -144px}
//   &.e76  {background-position: -48px -144px}
//   &.e77  {background-position: -64px -144px}
//   &.e78  {background-position: -80px -144px}
//   &.e79  {background-position: -96px -144px}
//   &.e8   {background-position: -112px -0px}
//   &.e80  {background-position: -112px -144px}
//   &.e81  {background-position: -0px -160px}
//   &.e82  {background-position: -16px -160px}
//   &.e83  {background-position: -32px -160px}
//   &.e84  {background-position: -48px -160px}
//   &.e85  {background-position: -64px -160px}
//   &.e86  {background-position: -80px -160px}
//   &.e87  {background-position: -96px -160px}
//   &.e88  {background-position: -112px -160px}
//   &.e89  {background-position: -0px -176px}
//   &.e9   {background-position: -0px -16px}
//   &.e90  {background-position: -16px -176px}
//   &.e91  {background-position: -32px -176px}
//   &.e92  {background-position: -48px -176px}
//   &.e93  {background-position: -64px -176px}
//   &.e94  {background-position: -80px -176px}
//   &.e95  {background-position: -96px -176px}
//   &.e96  {background-position: -112px -176px}
//   &.e97  {background-position: -0px -192px}
//   &.e98  {background-position: -16px -192px}
//   &.e99  {background-position: -32px -192px}

// }