.form {
	padding: rem(32) rem(40) rem(20) rem(40);
	background-color: $gray;
	border-radius: rem(20);
}
.form__title {
	margin-bottom: rem(24);
	text-align: center;
}
.form__label {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: rem(14);

	

	&:not(:last-child){
		margin-bottom: rem(15);
	}
}
.form__key{
	display: block;
	margin-bottom: rem(8);
	color: $gray-dark;
}
.form__input {
	flex: 0 0 100%;
	height: rem(44);
	padding-left: rem(18);
	padding-right: rem(18);
	border: 1px solid transparent;
	// padding-right: 55px;
	background: #fff ;
	border-radius: rem(10);
	@include placecolor($gray-dark);
	color: $text;

	.form__error &{
		border-color: $red;
	}
	.form__label--password &{
		padding-right: rem(50);
	}

}
.form__error-message {
	color: $red;
	display: none;
	.form__error &{
		display: block;
	}
}
.form__custom-policy {
	display: flex;
	align-items: flex-start;

}
.form__custom {
	position: relative;
	flex-shrink: 0;
	margin-right: rem(20);
}
.form__check {
	@include checkbox;
	&:checked + .form__custom-chek {
		&:before{
			display: block;
		}
	}
}
.form__custom-chek {
	display: block;
	position: relative;
	width: rem(16);
	height: rem(16);
	border: 1px solid #000;
	border-radius: rem(2);

	@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
				cursor: pointer;
			}
		}
	&:before{
		@include absolute-center-old;
		display: none;
		width: rem(8);
		height: rem(8);
		border-radius: rem(2);
		background-color: #000;
		content: '';
	}
}
.form__area{
	width: 100%;
	height: rem(100);
	padding:rem(20);
    resize: none;
	border: none;
	background: #fff;
	padding-left: rem(20);
	color: #222222;
}
.form__policy {

}
.eye-ico{
	width: rem(24);
	height: rem(24);
	position: relative;
	@include but-null();
	position: absolute;
	bottom: rem(12);
	right: rem(20);
	.icon{
		@include absolute-center;
		font-size: rem(14);
	}
}
.form__bottom{
	text-align: center;
}
.form__line{
	&:not(:last-child){
		margin-bottom: rem(15);
	}
}