.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(15.004/10)*1rem;
	width:(15/15.004)*1em;
}
.icon-btn-go {
	font-size:(22/10)*1rem;
	width:(12/22)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(6/12)*1em;
}
.icon-chevron-rught {
	font-size:(12/10)*1rem;
	width:(6/12)*1em;
}
.icon-close {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-crown {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-eye {
	font-size:(16/10)*1rem;
	width:(22/16)*1em;
}
.icon-eye-off {
	font-size:(18/10)*1rem;
	width:(22/18)*1em;
}
.icon-frame {
	font-size:(22/10)*1rem;
	width:(14/22)*1em;
}
.icon-heart {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-house {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-plus-circle {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-send {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-smile {
	font-size:(800/10)*1rem;
	width:(800/800)*1em;
}
.icon-teacher {
	font-size:(22/10)*1rem;
	width:(19/22)*1em;
}
.icon-user {
	font-size:(18/10)*1rem;
	width:(16/18)*1em;
}
.icon-watsapp {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-x-big {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
