/*--------------------ui----------------------*/
.page{
	padding: rem(30) 0;

	&-main{

		@include min-screen($md){
			
			height: 100vh;
		}

	}
	&-enter{

		.page-main__forms{
			.sidebar-form{
				@include max-screen($sm){
					display: none;
				}

			}

			&.active{
					.page-main__form-display{
						display: none;
					}
				.sidebar-form{
					@include max-screen($sm){
						display: block;
					}

				}
			}
		}

	}
	&-buyer,
	&-agency{
		.page-main__visual{
			@include max-screen($xs){
				aspect-ratio: auto;
				padding: 0;
			}

			.logo{
				@include max-screen($xs){
					margin-bottom: rem(20);
				}
			}
		}
		.page-main__hero,
		.page-main__title{
			@include max-screen($xs){
				display: none;
				
			}
		}

		.page-main__coverage,
		.main-page__variants{
			@include max-screen($xs){
				display: none;
			}
		}
		.page-main__wrapper{
			@include max-screen($xs){
				gap: 0;
			}
		}
		.page-main__content{
			@include max-screen($xs){
				gap: 0;
			}
		}
	}
}
a{
	text-decoration: none;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
		color: $accent;
			}
		}
}
.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(48);
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: rem(5) rem(24);
  font-size: rem(16);
  font-family: "Raleway", sans-serif;
  // text-transform: uppercase;
  border-radius: rem(10);
  border: 1px solid transparent;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  
  &-fw{
   width: 100%;
  }
  @media (any-hover: hover) { //только для устройств с ховером
  		cursor: pointer;	
	  &:hover,&:active{
	   border-color: $accent;
	   background-color: transparent;
	   color: $accent;
	  }
  	}

  &-dark{
  	background-color: $gray-dark;
  	color: #fff;
  }
  &-empty{
  	background-color: transparent;
  	color: $accent;
  	border-color: $accent;

  	@media (any-hover: hover) { //только для устройств с ховером
	  &:hover,&:active{
	   border-color: transparent;
	   background-color: $accent;
	   color: #fff;
	  }
  	}
  }
  &-mini{
  	height: rem(36);
  	border-radius: rem(100);
  	background-color: $gray;
  	color: $text;
  	border-color: transparent;

  	@media (any-hover: hover) { //только для устройств с ховером
	  &:hover,&:active{
	   border-color: transparent;
	   background-color: $gray-dark;
	   color: #fff;
	  }
  	}
  }

   
}
.link{
	color: $accent;
	text-decoration: none;
	transition:olor .2s ease;
	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				color: $text;
			}
		}
}
h1{
	@include adaptive-value-rem('font-size', 40, 24, $maxWidth, $minWidth, 1);
	line-height: math.div(48,40);
	text-transform: uppercase;
}
h2{
	font-size: rem(24);
	line-height: math.div(28,24);
	font-weight: 500;
}

.simplebar-scrollbar{
	width: 2px;
	right: rem(2);
	left: auto;
	background-color: $accent;
}
// baguetteBox custom
.baguetteBox-button#previous-button,
.baguetteBox-button#next-button{
	width: rem(60);
	height: rem(60);
	border-radius: 50%;
	background-color: $gray;

	background-image: url(../img/icons-svg/btn-go.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	// background-size: ;

	svg{
		display: none;
	}
}
.baguetteBox-button#next-button{
	right: prc(350,$maxWidth);
	transform: rotate(180deg);
}
.baguetteBox-button#previous-button{

	left: prc(350,$maxWidth);
}
#baguetteBox-overlay .full-image{
	  display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
#baguetteBox-overlay .full-image figure{
	height: auto;
	display: inline-flex;
	overflow: hidden;
	border-radius: rem(30);
	// background-color: red;
	max-height: 100%;
	aspect-ratio: 900/700;
	position: relative;

	img{
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		object-fit: cover; 
		object-position: center center;
	}

}
.baguetteBox-button#close-button{
	width: rem(40);
	height: rem(40);
	top: prc(118,1080);
	right: prc(368,1920);
	background-color: transparent;
	background-image: url(../img/icons-svg/x-big.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: rem(20) rem(20);

	svg{
		display: none;
	}
}
// END baguetteBox custom

.toggle-mnu{
	position: fixed;
	right: rem(30);
	top: rem(15);
  display: block;
  width: rem(28);
  height: 0;
  margin-top: rem(14);
  padding: 0;
  background-color: transparent;
  border: none;
  padding-bottom: rem(26);

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: rem(9);
  } 

  span:after{

    top: rem(18);
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: rem(2);
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: rem(2);
  }


  &.on{
  	padding-bottom: 12%;
  }
  &.on span{

    background-color: transparent;
  } 

  &.on span:before{

    transform: rotate(45deg) translate(rem(-1), 0);
  } 

  &.on span:after{

    transform: rotate(-45deg) translate(rem(6), rem(-7));
  }

  .expanse &{
		margin-left: rem(30);
		margin-bottom: rem(10);
		position: static;
		margin-top: 0;
		// height: auto;
	}
	 @media (any-hover: hover) { //только для устройств с ховером
	 		cursor: pointer;
	 	} 
	@include min-screen($mess-mob){
		display: none;
	}
} 

/*--------------------END ui----------------------*/ 