main(class=pageName!='messenger'?"expanse__content expanse__content--sdw":"expanse__content")
	//- .expanse__container
	.profile
		.profile__back
			a(href="#").profile__back-link
				+icon('arrow-left')
				span Назад
			
			button#menu-open.toggle-mnu(type="button")
				span 
		
		.profile__content
			block profile