.profile-agent._tabs
	.profile-agent__main
		.profile-agent__tabs
			ul.tabs__buttons
				li.tabs__item
					a.tab.active(href='#') Профиль
				li.tabs__item
					a.tab(href='#') Мой рейтинг
				li.tabs__item
					a.tab(href='#')
						span.profile-notice
							| Уведомления
							span.profile-notice__count 1
	
		.profile-buer__content
			.profile-buer__scroll(data-simplebar)
				ul.tabs__container
					li.tab-content.active
						form(action="#" class="form profile-buer__form form-profile-buer" )
							.form-profile-buer__grid
								.form-profile-buer__column
									label.form__label
										span.form__key Фамилия Имя Отчество
										span.form__error-message
										input(autocomplete="off" type="text" name="" class="form__input" value="Семашко Захар Михайлович" placeholder="Введите ФИО")

									label.form__label.form__error
										span.form__key Телефон
										span.form__error-message Обязательное поле
										input(autocomplete="off" type="text" name="" class="form__input" value="+7 912 587-36-56" placeholder="Введите телефон")

									label.form__label
										span.form__key Город
										span.form__error-message
										input(autocomplete="off" type="text" name="" class="form__input" value="Сочи"   placeholder="Введите город")
									
									label.form__label.form__add
										span.form__key Фото профиля
										input(autocomplete="off" type="file" name="" class="form__file" value="+7 912 587-36-56")
										span.form__file-field
											+icon('plus')


								.form-profile-buer__column
									label.form__label
											span.form__key Email
											span.form__error-message
											input(autocomplete="off" type="text" name="" class="form__input" value="pochta@mail.ru"  placeholder="Введите еmail")

									label.form__label.form__label--password
										button(type="button").eye-ico.unblind
											+icon('eye')
											+icon('eye-off')
										span.form__key Старый пароль
										span.form__error-message
										input(autocomplete="off" type="text" name="" class="form__input" value="5UimdK5dd" placeholder="Введите старый пароль")

									label.form__label.form__label--password
										button(type="button").eye-ico
											+icon('eye')
											+icon('eye-off')
										span.form__key Новый пароль
										span.form__error-message
										input(autocomplete="off" type="password" name="" class="form__input" value="5UimdK5dd" placeholder="Введите новый пароль")

									label.form__label.form__label--password
										button(type="button").eye-ico
											+icon('eye')
											+icon('eye-off')
										span.form__key Повторить пароль
										span.form__error-message
										input(autocomplete="off" type="password" name="" class="form__input" value="5UimdK5dd" placeholder="Повторите пароль")

							.form__bottom
								.form__line
									button.btn(type="submit") Сохранить
								.form__line
									a(href="#") Выйти из профиля
					li.tab-content.hidden
						.profile-agent-rating
							- var inds = ['Место 12', 'Бонусы 9 100', 'Баны 1', 'Сделки 14'];
								.info-user-rating__indicators
									each item in inds
										.info-user-rating__indicator= item
							
							ul.accordion
								li.accordion__item.profile-agent-rating__item.active
									.accordion__link.profile-agent-rating__tab
										| Правила сервиса
										+icon('chevron-right')
									.accordion__content
										p.profile-agent-rating__prg Пробный период для продавцов 3 дня.  Дльше все функции заблокируются. Оплата через профиль.
										p.profile-agent-rating__prg Если 3  жалобы от клиента за рекламу либо фейк-информацию - бан 3 дня
										p.profile-agent-rating__prg Дополнительные 3 жалобы у данного пользователя увеличивается количество блокировки до 9 дней
										p.profile-agent-rating__prg За еще 3 жалобы  - бан 1 месяц
										p.profile-agent-rating__prg Во время бана пользователю недоступны все функции сервиса кроме профиля и обратной связи
								
								li.accordion__item.profile-agent-rating__item
									.accordion__link.profile-agent-rating__tab
										| Как получить бонусы
										+icon('chevron-right')
									.accordion__content.hidden
										p.profile-agent-rating__prg Проведение сделки с подтверждением покупателя через личные сообщения — 1000 бонусов
										p.profile-agent-rating__prg Регистрация на сервисе — 500 бонусов
										p.profile-agent-rating__prg Предоставление пользователю фейк, рекламу — минус 250 бонусов
										p.profile-agent-rating__prg Полностью заполнен профиль — 100 бонусов
										p.profile-agent-rating__prg Оценка покупателем за хорошую работу и предоставление информации — 50 бонусов
										p.profile-agent-rating__prg Публикация предложения или запроса (ежедневно) - 10 бонусов
					li.tab-content.hidden
						- var texts = ['19.01.2024 Проведение сделки + 1000', '16.01.2024 Оценка покупателем — 250', '13.01.2024 Вас оценил покупатель + 50', '11.01.2024 Бонус за публикацию предложения + 10', '06.01.2024 Проведение сделки + 1000', '04.01.2024 Оценка покупателем — 250'];
						- for (var i=0; i < 4; i++)
							each text in texts
								p.profile-agent-rating__prg= text

			

	aside.profile-agent__sidebar
		button.btn.btn-fw(type="button") Пробный период завершён. Оплатить
		button.btn.btn-dark.btn-fw(type="button") Вы находитесь в бане до 20.02.2024
		.profile-buer__reg Зарегистрирован 15.05.2023