.profile-buer._tabs
	.profile-buer__header.profile-buer__header--agent
		
		ul.tabs__buttons
			li.tabs__item
				a.tab.active(href='#') Профиль
			li.tabs__item
				a.tab(href='#') Мой рейтинг
			li.tabs__item
				a.tab(href='#') Уведомления

		.profile-buer__reg Зарегистрирован 15.05.2023
	
	.profile-buer__content
		.profile-buer__scroll(data-simplebar)
			ul.tabs__container
				li.tab-content.active
					form(action="#" class="form profile-buer__form form-profile-buer" )
						.form-profile-buer__grid
							.form-profile-buer__column
								label.form__label
									span.form__key Фамилия Имя Отчество
									span.form__error-message
									input(autocomplete="off" type="text" name="" class="form__input" value="Семашко Захар Михайлович")

								label.form__label.form__error
									span.form__key Телефон
									span.form__error-message Обязательное поле
									input(autocomplete="off" type="text" name="" class="form__input" value="+7 912 587-36-56")

							.form-profile-buer__column
								label.form__label
									span.form__key Город
									span.form__error-message
									input(autocomplete="off" type="text" name="" class="form__input" value="Сочи")
								label.form__label
										span.form__key Email
										span.form__error-message
										input(autocomplete="off" type="text" name="" class="form__input" value="pochta@mail.ru")

							.form-profile-buer__column
								label.form__label.form__label--password
									button(type="button").eye-ico.unblind
										+icon('eye')
										+icon('eye-off')
									span.form__key Старый пароль
									span.form__error-message
									input(autocomplete="off" type="text" name="" class="form__input" value="5UimdK5dd")

								label.form__label.form__label--password
									button(type="button").eye-ico
										+icon('eye')
										+icon('eye-off')
									span.form__key Новый пароль
									span.form__error-message
									input(autocomplete="off" type="password" name="" class="form__input" value="5UimdK5dd")

								label.form__label.form__label--password
									button(type="button").eye-ico
										+icon('eye')
										+icon('eye-off')
									span.form__key Повторить пароль
									span.form__error-message
									input(autocomplete="off" type="password" name="" class="form__input" value="5UimdK5dd")

						.form__bottom
							.form__line
								button.btn(type="submit") Сохранить
							.form__line
								a(href="#") Выйти из профиля
				li.tab-content.hidden
					p.content
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nulla obcaecati architecto eaque quo qui dicta, at modi ratione reiciendis consectetur cumque quisquam quia tempora eos quos officia nostrum iusto!
				li.tab-content.hidden
					p.content
						| Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.

			