.profile-buer._tabs
	.profile-buer__header.profile-buer__header--agent
		
		ul.tabs__buttons
			li.tabs__item
				a.tab.active(href='#') Профиль
			li.tabs__item
				a.tab(href='#') Мой рейтинг
			li.tabs__item
				a.tab(href='#')
					span.profile-notice
						| Уведомления
						span.profile-notice__count 1

		.profile-buer__reg Зарегистрирован 15.05.2023
	
	.profile-buer__content
		.profile-buer__scroll(data-simplebar)
			ul.tabs__container
				li.tab-content.active
					include profile-form
				li.tab-content.hidden
					.profile-agent-rating
						- var inds = ['Место 12', 'Бонусы 9 100', 'Баны 1', 'Сделки 14'];
							.info-user-rating__indicators
								each item in inds
									.info-user-rating__indicator= item
						
						ul.accordion(data-accordion)
							li.accordion__item.profile-agent-rating__item
								.accordion__link.profile-agent-rating__tab
									| Правила сервиса
									+icon('chevron-right')
								.accordion__content
									p.profile-agent-rating__prg Пробный период для продавцов 3 дня.  Дльше все функции заблокируются. Оплата через профиль.
									p.profile-agent-rating__prg Если 3  жалобы от клиента за рекламу либо фейк-информацию - бан 3 дня
									p.profile-agent-rating__prg Дополнительные 3 жалобы у данного пользователя увеличивается количество блокировки до 9 дней
									p.profile-agent-rating__prg За еще 3 жалобы  - бан 1 месяц
									p.profile-agent-rating__prg Во время бана пользователю недоступны все функции сервиса кроме профиля и обратной связи
							
							li.accordion__item.profile-agent-rating__item
								.accordion__link.profile-agent-rating__tab
									| Как получить бонусы
									+icon('chevron-right')
								.accordion__content.hidden
									p.profile-agent-rating__prg Проведение сделки с подтверждением покупателя через личные сообщения — 1000 бонусов
									p.profile-agent-rating__prg Регистрация на сервисе — 500 бонусов
									p.profile-agent-rating__prg Предоставление пользователю фейк, рекламу — минус 250 бонусов
									p.profile-agent-rating__prg Полностью заполнен профиль — 100 бонусов
									p.profile-agent-rating__prg Оценка покупателем за хорошую работу и предоставление информации — 50 бонусов
									p.profile-agent-rating__prg Публикация предложения или запроса (ежедневно) - 10 бонусов
				li.tab-content.hidden
					p.content
						| Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.

			