.emoji-block
	._tabs.emoji-block__tabs
		ul.tabs__buttons
			li.tabs__item
				a.tab.active(href='#') Эмодзи
			li.tabs__item
				a.tab(href='#') Стикеры

		- var emjs = ['alien-monster', 'alien', 'angry-face-with-horns', 'angry-face', 'anguished-face', 'anxious-face-with-sweat','astonished-face', 'baby-dark-skin-tone', 'baby-medium-dark-skin-tone', 'baby-medium-light-skin-tone', 'baby-medium-skin-tone', 'baby', 'beaming-face-with-smiling-eyes', 'cat-face', 'cat-with-tears-of-joy', 'cat-with-wry-smile', 'clown-face', 'cold-face', 'confounded-face', 'confused-face', 'cowboy-hat-face', 'crying-cat', 'crying-face', 'disappointed-face', 'disguised-face', 'dizzy-face', 'downcast-face-with-sweat', 'drooling-face', 'exploding-head', 'expressionless-face', 'face-blowing-a-kiss', 'face-exhaling', 'face-in-clouds', 'face-savoring-food', 'face-screaming-in-fear', 'face-vomiting', 'face-with-hand-over-mouth', 'face-with-head-bandage', 'face-with-medical-mask', 'face-with-monocle', 'face-with-open-mouth', 'face-with-raised-eyebrow', 'face-with-rolling-eyes', 'face-with-spiral-eyes', 'face-with-steam-from-nose', 'face-with-symbols-on-mouth', 'face-with-tears-of-joy', 'face-with-thermometer', 'face-with-tongue', 'face-without-mouth', 'fearful-face', 'flushed-face', 'frowning-face-with-open-mouth', 'frowning-face', 'ghost', 'goblin', 'grimacing-face', 'grinning-cat-with-smiling-eyes', 'grinning-cat', 'grinning-face-with-big-eyes', 'grinning-face-with-smiling-eyes', 'grinning-face-with-sweat', 'grinning-face', 'grinning-squinting-face','hand-with-fingers-splayed-dark-skin-tone', 'hand-with-fingers-splayed-medium-dark-skin-tone', 'hand-with-fingers-splayed-medium-skin-tone-1', 'hand-with-fingers-splayed-medium-skin-tone', 'hand-with-fingers-splayed', 'hot-face', 'hugging-face', 'hushed-face', 'kiss-mark', 'kissing-cat', 'kissing-face-with-closed-eyes', 'kissing-face-with-smiling-eyes', 'kissing-face', 'loudly-crying-face', 'lying-face', 'money-mouth-face', 'mouth', 'nauseated-face', 'nerd-face', 'neutral-face', 'ogre', 'partying-face', 'pensive-face', 'persevering-face','pile-of-poo', 'pleading-face', 'pouting-cat', 'pouting-face', 'raised-back-of-hand-dark-skin-tone', 'raised-back-of-hand-light-skin-tone', 'raised-back-of-hand-medium-dark-skin-tone', 'raised-back-of-hand-medium-light-skin-tone', 'raised-back-of-hand-medium-skin-tone', 'raised-back-of-hand', 'relieved-face', 'rolling-on-the-floor-laughing', 'sad-but-relieved-face', 'shushing-face', 'skull-and-crossbones', 'skull', 'sleeping-face', 'sleepy-face', 'slightly-frowning-face', 'slightly-smiling-face', 'smiling-cat-with-heart-eyes', 'smiling-face-with-halo', 'smiling-face-with-heart-eyes', 'smiling-face-with-hearts', 'smiling-face-with-horns', 'smiling-face-with-smiling-eyes', 'smiling-face-with-sunglasses', 'smiling-face-with-tear', 'smiling-face', 'smirking-face', 'sneezing-face', 'squinting-face-with-tongue', 'star-struck', 'thinking-face', 'tired-face', 'tooth', 'unamused-face', 'upside-down-face', 'waving-hand-dark-skin-tone', 'waving-hand-light-skin-tone', 'waving-hand-medium-dark-skin-tone', 'waving-hand-medium-light-skin-tone', 'waving-hand-medium-skin-tone', 'waving-hand', 'weary-cat', 'weary-face', 'winking-face-with-tongue', 'winking-face', 'woman-frowning-dark-skin-tone', 'woman-frowning-light-skin-tone', 'woman-frowning-medium-dark-skin-tone', 'woman-frowning-medium-light-skin-tone', 'woman-frowning-medium-skin-tone', 'woman-frowning', 'woman-gesturing-no-dark-skin-tone', 'woman-gesturing-no-light-skin-tone', 'woman-gesturing-no-medium-dark-skin-tone', 'woman-gesturing-no-medium-light-skin-tone', 'woman-gesturing-no-medium-skin-tone', 'woman-gesturing-no', 'woman-gesturing-ok-dark-skin-tone', 'woman-gesturing-ok-light-skin-tone', 'woman-gesturing-ok-medium-dark-skin-tone', 'woman-gesturing-ok-medium-light-skin-tone', 'woman-gesturing-ok-medium-skin-tone', 'woman-gesturing-ok', 'woman-getting-haircut', 'woozy-face', 'worried-face', 'yawning-face', 'zany-face', 'zipper-mouth-face'];
		ul.tabs__container#emoji-box(data-simplebar)
			li.tab-content.active
				.emoji-list
					each item in emjs
						span(class="emoji "+item)

			li.tab-content.hidden
				.emoji-list
					each item, ind in emjs
						if ind < 50
							span(class="emoji "+item)
	.emoji-block__navs
		- var navs = ['frame', 'teacher', 'crown', 'heart', 'house'];
		each item, ind in navs
			button(class=ind==0?"emoji-block__nav active":"emoji-block__nav" type="button")
				+icon(item)