main(class=pageName!='messenger'?"expanse__content expanse__content--sdw":"expanse__content")
	include expanse-header
	.expanse__container
		.expanse__main
			.expanse__field
				block expanse-center
			block chat
		aside(class=pageName=='buyer-offers'?"expanse__sidebar expanse__sidebar--filter sidebar-expanse":"expanse__sidebar sidebar-expanse")
			block expanse-right