main.expanse__content
	include expanse-header
	.expanse__container
		.expanse__main
			.expanse__field
				block expanse-center
			block chat
		aside.expanse__sidebar.sidebar-expanse
			block expanse-right