aside.expanse__nav.nav-expanse
	.nav-expanse__header
		.nav-expanse__logo
			img(src="img/logo.svg" alt="alt")

		button#menu-close.toggle-mnu.on
			span

	- var menu = ['Запрос', 'Предложения', 'Чат'];
	ul.expanse-menu
		each item, ind in menu
			li.expanse-menu__item
				if item == 'Чат'
					a(href="#" class=ind+1==page ? "expanse-menu__link active" : "expanse-menu__link")
						span= item
						span.expanse-menu__count 1
				else
					a(href="#" class=ind+1==page ? "expanse-menu__link active" : "expanse-menu__link")= item
