.chat-messages(data-simplebar)
	.chat-messages__block
		- var mess = [{name: 'Евгений Орлов', text: 'Жильё в г. Сочи, в зелёной зоне с видом на море. На территории дома хочется, чтобы был собственный бассейн, В апартаментах — большая', img: 8}, {name: 'Марина Светикова', text: 'Ищу двушку в центре на горького до 8 млн', img: 3}, {name: 'Марина Светикова', text: 'Жильё в г. Сочи, в зелёной зоне с видом на море. На территории дома хочется, чтобы был собственный бассейн, В апартаментах — большая', img: 2}, {name: 'Евгений Орлов', text: 'ЖК гранд парк до 8 млн, выше 8 этажа', img: false}, {name: 'Елена', text: 'Жильё в г. Сочи, в зелёной зоне с видом на море. На территории дома хочется, чтобы был собственный бассейн, В апартаментах — большая', img: 5}, {name: 'Екатерина', text: 'Жильё в г. Сочи, в зелёной зоне с видом на море. На территории дома хочется, чтобы был собственный бассейн, В апартаментах — большая', img: 4}, {name: 'Екатерина', text: 'Жильё в г. Сочи, в зелёной зоне с видом на море. На территории дома хочется, чтобы был собственный бассейн, В апартаментах — большая', img: 4}, {name: 'Марина Светикова', text: 'Ищу двушку в центре на горького до 8 млн', img: 3}, {name: 'Евгений Орлов', text: 'ЖК гранд парк до 8 млн, выше 8 этажа', img: false}, {name: 'Елена', text: 'Жильё в г. Сочи, в зелёной зоне с видом на море. На территории дома хочется, чтобы был собственный бассейн, В апартаментах — большая', img: 5}];
		
		each item, ind in mess
			if ind == 0
				.chat-message
					.chat-message__img
						if item.img
							img(src="img/chat/"+item.img+".jpg" alt="alt")
						else
							span МС
					.chat-message__body
						.chat-message__top
							.chat-message__name= item.name
							.chat-message__time
								.chat-message__date 14.04.2023
								.chat-message__time 08:15
						.chat-message__body= item.text
		
		.chat-messages__line
			.chat-messages__mark 14 апреля 2023

		each item, ind in mess
			.chat-message
				.chat-message__img
					if item.img
						img(src="img/chat/"+item.img+".jpg" alt="alt")
					else
						span МС
				.chat-message__body
					.chat-message__top
						.chat-message__name= item.name
						.chat-message__time
							.chat-message__date 14.04.2023
							.chat-message__time 08:15
					.chat-message__body= item.text
		.chat-messages__line
			.chat-messages__mark 14 апреля 2023