.messenger
	.messenger__header
		form(action="#").messenger__filter.filter-messenger
		- var roles = ['Все', 'Продавец', 'Агент', 'Застройщик', 'Агенство недвижимости', 'Инвестор'];
		
		//- Общий блок слайдера
		.tiny-carousel
			//- Навигация кастомная (если требуется)
			//- в js добавить параметр controlsContainer: '.tiny-carousel__nav'
			.tiny-carousel__nav
				button(type="button" class="tns-prev")
					+icon('chevron-rught')
				button(type="button" class="tns-next")
					+icon('chevron-rught')
			
			//- Собственно, слайдер
			.tiny-sldr
				for role,i in roles
					label.filter-messenger__item
						input(autocomplete="off" type="checkbox" name="role" class="filter-messenger__input" checked=i==0?true:false)
						span.btn.btn-mini.filter-messenger__value= role