.page.page-main.page-enter
	.page-main__wrapper
		.page-main__content
			.page-main__visual._fit
				.logo
					img(src="img/logo.svg" alt="alt")
				h1.page-main__title Недвижимость 
					br
					| по доступной цене
				img._fit-img(src="img/main-page/3.jpg" alt="alt")
			
			.page-main__coverage.coverage-page-main
				.coverage-page-main__img._fit
					img._fit-img(src="img/main-page/1.jpg" alt="alt")
				.coverage-page-main__content
					.coverage-page-main__title С нами работают более 1 000 риелторов
					p.coverage-page-main__text С нами работают более 1 000 риелторов из разных регионов России. Они помогут провести просмотры, соберут и проверят документы, будут общаться со второй стороной сделки и отстаивать ваши интересы на каждом этапе
		
		aside.page-main__sidebar
			include main-sidebar

+privacy-modal
+reg-regard-modal
+email-modal