/*--------------------expanse-sidebar-left----------------------*/
.expanse__nav{
	padding: rem(12) rem(32);
	transition: all 0.3s;
	flex: 0 0 rem(300);
}
.nav-expanse__header{
	width: 100%;
	display: flex;
	column-gap: rem(10);
	align-items: flex-start;
	justify-content: space-between;

	.toggle-mnu{
		position: static;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.nav-expanse__logo{
	max-width: rem(81);
	margin-bottom: rem(40);
	img{
		max-width: 100%;
	} 
}
.expanse-menu__list {

}
.expanse-menu__item {
	list-style-type: none;
	
	&:not(:last-child){
		margin-bottom: rem(16);
	}

}
.expanse-menu__link {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: rem(48);
	padding: rem(5) rem(24);
	background-color: $gray;
	text-decoration: none;
	color: $text;
	border-radius: rem(10);

	&.active{
		margin-left: rem(6);
		background-color: $accent;
		color: #fff;
		&:before{
			display: block;
		}
	}

	&:before{
		content: '';
		display: none;
		position: absolute;
		left: rem(-6);
		top: 50%;
		margin-top: rem(-16);
		height: rem(32);
		width: rem(2);
		// margin-right: rem(3);
		vertical-align: middle;
		background-color: $accent;
		border-radius: 2px 5px 5px 2px;
	}


}
/*--------------------END expanse-sidebar-left----------------------*/ 