/*--------------------expanse-template----------------------*/
.expanse{
	height: 100%;
	display: flex;
	max-width: rem($maxWidth);
	margin: 0 auto;

	overflow: hidden;

	@supports(overflow: clip){
		overflow: clip;
	}
	// @supports(height: 100dvh){
	// 	height: 100dvh;
	// }

	@include max-screen($maxWidth){
		padding-right: rem(30);
		max-width: rem(calc($maxWidth + 30));
	}
	@include min-screen($md){
		padding-top: rem(20);
		padding-bottom: rem(20);
		
	}

	&--profile{
		// .expanse__container{
		// 	@include max-screen($md){
		// 		flex-direction: column;
		// 	}
		// }
		.toggle-mnu{
			margin-left: 0;
			margin-bottom: rem(20);
			@include min-screen($mess-mob){
				display: none;
			}
		}
		.expanse__nav{
			@include max-screen($mess-mob){
				height: 100%;
				background-color: #fff;
				position: fixed;
				top: 0;
				left: 0;
				transform: translateX(-110%);
				z-index: 4;

				box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);
			}

			.menu-opened &{
				transform: translateX(0) !important;

			}

		}
	}

	&--null{
		.expanse__container{
			@include max-screen($lg){
				flex-direction: column;
			}
		}
		.toggle-mnu{
			margin-left: 0;
			margin-bottom: 0;
			margin-right: rem(15);
			@include min-screen($lg){
				display: none;
			}
		}
		.expanse__nav{
			@include max-screen($lg){
				height: 100%;
				background-color: #fff;
				position: fixed;
				top: 0;
				left: 0;
				transform: translateX(-110%);
				z-index: 4;

				box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);
			}

			.menu-opened &{
				transform: translateX(0) !important;

			}

		}
		.toggle-mnu{
			@include min-screen($lg){
				display: none;
			}
		}
		.expanse__main{
			@include max-screen($lg){
				height: 60%;
			}
		}
		.expanse__sidebar{
			@include max-screen($lg){
				display: none;
				height: 40%;
				padding: rem(10) rem(30) 0 rem(30);
			}

			// @include min-screen(px){
			// 	flex: 0 0 rem(382);
			// }

			&.opened{
				@include max-screen($lg){
					display: block;
				}
			}

		}
		.chat-form__smile{
			 @include min-screen($lg){
			    display: none;
			  }
		}
	}

	&--messenger{
		.expanse__chat{
			border-radius: 0;
			box-shadow: none;
		}
		.expanse__container{
			@include max-screen($mess-mob){
				flex-direction: column;
			}
		}
		.toggle-mnu{
			@include min-screen($mess-mob){
				display: none;
			}
		}
		.header-expanse__search{
			.toggle-mnu{
				@include max-screen($md){
					margin-bottom: 0;
					margin-top: rem(2);
					margin-left: rem(5);
				}
			}
		}
		.expanse__nav{
			@include max-screen($mess-mob){
				height: 100%;
				background-color: #fff;
				position: fixed;
				top: 0;
				left: 0;
				transform: translateX(-110%);
				z-index: 4;

				box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);
			}
			.menu-opened &{
				transform: translateX(0) !important;

			}

		}
		.expanse__main{
			@include max-screen($mess-mob){
				height: 60%;
			}
		}
		.expanse__sidebar{
			@include max-screen($mess-mob){
				display: none;
				height: 40%;
				padding: rem(10) rem(30) 0 rem(30);
			}

			// @include min-screen(px){
			// 	flex: 0 0 rem(382);
			// }

			&.opened{
				@include max-screen($mess-mob){
					display: block;
				}
			}
		}

		.chat-form__smile{
			@include min-screen($mess-mob){
				display: none;
			}
		}
	}
}

.expanse__messenger{
	overflow: hidden;
	width: 100%;
	display: flex;
	box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);
	border-radius: rem(30);

	// @include max-screen($md){
	// 	flex-direction: column;
	// }
}
.expanse-nav{
	flex: 0 0 rem(300);

}
.expanse__content{
	// height: 100%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	&--sdw{
		border-radius: rem(30) rem(30) rem(30) rem(30);
		box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);
		overflow: hidden;
	}
}
.expanse__container{
	display: flex;
	flex: 1 1 auto;
	height: calc(100% - rem(80));

	
}
.expanse__main{
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	// @include max-screen($mess-mob){
	// 	// flex-basis: 50%;
	// 	height: 70%;
	// }
}
.expanse__field{
	flex: 1 1 auto;
	padding-left: rem(30);
	overflow-y: auto;
	background-color: #fff;
	overflow: hidden;

	@include max-screen($md){
		padding-left: rem(15);
	}
	.expanse--messenger &{
		box-shadow: none;
	}


}
.expanse__chat{
	flex: 0 0 auto;
}
.expanse__sidebar{
	padding: rem(30) rem(40) 0 rem(40);
	background-color: #F8F9FC;
	flex: 0 0 rem(382);

	@include min-screen($mess-mob){
		
	}
}
.profile{
	flex-basis: 100%;
	column-gap: rem(15);
	display: flex;

	@include max-screen($lg){
		flex-direction: column;
	}
}
.profile__back{
	display: flex;
	align-items: flex-start;
	@include adaptive-value('padding-top', 44, 15, 1);
	padding-left: rem(40);

	@include max-screen($mess-mob){
		display: flex;
		column-gap: rem(30);
	}
	@include max-screen($xs){
		padding-left: rem(20);
	}
	@include min-screen($mess-mob){
		flex: 0 0 rem(150);
		
	}
	@include min-screen($mess-mob){
		flex: 0 0 rem(200);
		
	}
	.toggle-mnu{
		margin-bottom: 0;
	}
}
.profile__back-link{
	display: flex;
	align-items: center;
	column-gap: rem(17);
	text-decoration: none;
	color: $gray-dark;
	
	.icon{
		font-size: rem(14);
	}
	
	span{

	}

}
.profile__content{
	flex: 1 1 auto;
	@include adaptive-value('padding-top', 40, 14, 1);

	@include max-screen($mess-mob){
		padding-left: rem(40);
		padding-right: rem(40);
	}
	@include max-screen($xs){
		padding-left: rem(20);
		padding-right: rem(20);
	}

}
/*--------------------END expanse-template----------------------*/ 