/*--------------------main-sidebar----------------------*/
.page-main__forms{
	flex-shrink: 0;

}
.page-main__sidebar{
	display: flex;
	flex-direction: column;
	row-gap: rem(20);

	@include min-screen($md){
		flex: 0 0 rem(420);
		
	}
}
.page-main__forms{
	position: relative;
	max-height: 100%;

	&--buyer{
		flex: 1 0 auto;
		overflow: hidden;
		border-radius: rem(20);
		background-color: $gray;	
		& + .main-page__variants{
			flex: 0 1 30%;
		}
	}
}
.page-main__forms-scroll{

	@include min-screen($md){
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		
	}
}
.sidebar-form{

	&--access{
		.form__bottom{
			padding-top: rem(30);
		}
	}
}
.sidebar-form__tab-item{
	flex: 0 0 50%;
}
.main-page__variants{
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	padding: rem(15);
	color: #fff;
	border-radius: rem(20);

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .4);
		z-index: 1;
	}

	@include max-screen($md){
		flex: 0 0 auto;
		aspect-ratio: 335/300;
	}

}
.main-page__variants-val{
	position: relative;
	margin-bottom: rem(20);
	font-size: rem(52);
	line-height: calc(56/52);
	z-index: 2;
}
.main-page__variants-descr{
	position: relative;
	font-size: rem(20);
	line-height: calc(24/20);
	z-index: 2;
	text-align: center;
}
.sidebar-form__buttons{
	margin-bottom: rem(24);
// 	position: relative;

// 	&:after{
// 		content: '';
// 		position: absolute;
// 		left: 0;
// 		bottom: 0;
// 		width: 100%;
// 		height: 2px;
// 		background-color: $line;
// 	}

}
// .sidebar-form__tab-item{
// 	flex: 0 0 50%;

// }
// .sidebar-form__tab{
// 	position: relative;
// 	z-index: 1;
// 	padding-bottom: rem(13);
// 	color: $gray-dark;
// 	border-bottom: rem(2) solid transparent;

// 	&.active{
// 		color: $text;
// 		border-bottom-color: $accent;
// 	}
// }
.page-main__form-display{
	text-align: center;	

	@include min-screen($sm){
		display: none;
	}
}
/*--------------------END main-sidebar----------------------*/ 