/*--------------------page-main----------------------*/
.page {}
.page-main {}
.page-enter {}
.page-main__wrapper {
	display: flex;
	gap: rem(20);
	height: 100%;

	@include max-screen($md){
		flex-direction: column;
		gap: rem(30);
	}
}
.page-main__content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	row-gap: rem(39);

	
}
.page-main__visual {
	@include adaptive-value-rem('padding-left', 62, 15, $maxWidth, $minWidth, 1);
	@include adaptive-value-rem('padding-top', 62, 30, $maxWidth, $minWidth, 1);
	// aspect-ratio: 860/700;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 rem(20) rem(20);

	@include max-screen($md){
		padding-top: 0;
		aspect-ratio: 335/280;
	}

}
.page-main__hero{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: rem(20);

	@include max-screen($md){
		// height: calc(100% - rem(35));
		top: rem(35);
	}
}
._fit {}
.logo {
	text-align: right;
	width: 100%;
	position: relative;
	z-index: 1;

	@include max-screen($md){
		margin-bottom: rem(35);
	}

	@include min-screen($md){
		max-width: rem(81);
		position: absolute;
		right: rem(41);
		top: rem(23);
		
	}
}
.page-main__title {
	max-width: rem(442);
	position: relative;
	z-index: 1;
}
.page-main__coverage {
	padding: rem(20);
	flex-shrink: 0;
	display: flex;
	column-gap: rem(25);
	row-gap: rem(20);

	box-shadow: 0px 10px 15px 0px rgba(71, 93, 169, 0.04),0px -6px 15px 0px rgba(71, 93, 169, 0.03);

	@include max-screen($sm){
		padding-top: 0;
	}
	@include max-screen($sm){
		flex-direction: column;
	}

}

.coverage-page-main {}
.coverage-page-main__img {
	aspect-ratio: 340/260;
	border-radius: rem(10);

	@include max-screen($sm){
		margin-left: rem(-20);
		margin-right: rem(-20);
	}

	@include min-screen($sm){
		
		flex: 0 0 prc(340,840);
	}
}
.coverage-page-main__content {}
.coverage-page-main__title {
	margin-bottom: rem(11);
	font-size: rem(20);
	font-weight: 500;
	line-height: calc(24/20);

	@include min-screen($sm){
		margin-bottom: rem(35);
		
	}
}
.coverage-page-main__text {}
/*--------------------END page-main----------------------*/ 